In [94]:
import numpy as np
import pandas as pd

# Mode Function

In [273]:
from collections import Counter
def mode(df):
    counts = Counter(df)
    max_count = max(counts.values())
    ls = [x_i for x_i, count in counts.items() if count == max_count]
    return ls[0]

# UPC Decoding Function

In [115]:
train_df = pd.read_csv('train.csv')

In [116]:
train_df['Upc'].dtypes

dtype('float64')

In [117]:
def upc_decode(UPC_comp):
    if not np.isnan(UPC_comp)  :
        UPC_comp = str(UPC_comp).split('.')[0]
        UPC_company = __upc_to_company(UPC_comp)
    else: UPC_company = '-9999'
    return UPC_company

def __upc_to_company(UPC_comp):
    upc_company = UPC_comp[:-6]
    if upc_company == '' : upc_company = '00000'
    return upc_company

In [118]:
train_df['Upc'] = train_df['Upc'].apply(upc_decode)

In [119]:
train_df['Upc'].isna().sum()

0

In [120]:
train_fl = train_df[['VisitNumber','FinelineNumber']]
train_fl = train_fl.groupby('VisitNumber',as_index=False).agg(mode)
train_fl

       VisitNumber  FinelineNumber
0                5          1000.0
1                7          8931.0
2                8          3565.0
3                9           115.0
4               10          2008.0
5               11          3114.0
6               12           654.0
7               15           514.0
8               17          3352.0
9               19          8904.0
10              20          9117.0
11              23          5501.0
12              25          9012.0
13              26          1450.0
14              28          9538.0
15              29          9205.0
16              30          1180.0
17              31          5024.0
18              32           100.0
19              33          3114.0
20              40          9546.0
21              41          3054.0
22              42           115.0
23              43          1508.0
24              45          7960.0
25              47          3458.0
26              49          5501.0
27              50          8218.0
28              51          1406.0
29              53          1201.0
...            ...             ...
95644       191276          2042.0
95645       191277          4820.0
95646       191280          3050.0
95647       191283            79.0
95648       191286          3602.0
95649       191287          1011.0
95650       191289          3467.0
95651       191291          5501.0
95652       191293          1084.0
95653       191298          1450.0
95654       191301          9912.0
95655       191304           145.0
95656       191305           290.0
95657       191311          1640.0
95658       191312          4606.0
95659       191313          2771.0
95660       191318          1901.0
95661       191322          9100.0
95662       191324          1407.0
95663       191326          7301.0
95664       191329          4304.0
95665       191331          9189.0
95666       191335          1120.0
95667       191337          4601.0
95668       191342           115.0
95669       191343          5225.0
95670       191344          3405.0
95671       191345          2764.0
95672       191346          4639.0
95673       191347          1512.0

[95674 rows x 2 columns]

해당 VisitNumber에 가장 많이 출현하는 FinelineNumber 를 나타내는 데이터프레임이다.

In [122]:
train_dd = train_df[['VisitNumber','DepartmentDescription']]
train_dd = train_dd.groupby('VisitNumber',as_index=False).agg(mode)
train_dd

       VisitNumber        DepartmentDescription
0                5           FINANCIAL SERVICES
1                7                        SHOES
2                8        PAINT AND ACCESSORIES
3                9                      PRODUCE
4               10                  DSD GROCERY
5               11          IMPULSE MERCHANDISE
6               12                    BOYS WEAR
7               15           FABRICS AND CRAFTS
8               17                  DSD GROCERY
9               19                    MENS WEAR
10              20                 FROZEN FOODS
11              23                      PRODUCE
12              25  INFANT CONSUMABLE HARDLINES
13              26                        DAIRY
14              28                   LADIESWEAR
15              29                  DSD GROCERY
16              30                   LADIESWEAR
17              31                       BAKERY
18              32          IMPULSE MERCHANDISE
19              33            GROCERY DRY GOODS
20              40                  DSD GROCERY
21              41                  DSD GROCERY
22              42          IMPULSE MERCHANDISE
23              43                        DAIRY
24              45                        DAIRY
25              47                  DSD GROCERY
26              49                      PRODUCE
27              50                    MENS WEAR
28              51                PERSONAL CARE
29              53                      PRODUCE
...            ...                          ...
95644       191276              OFFICE SUPPLIES
95645       191277                PERSONAL CARE
95646       191280        HOUSEHOLD PAPER GOODS
95647       191283      CANDY, TOBACCO, COOKIES
95648       191286            GROCERY DRY GOODS
95649       191287        PAINT AND ACCESSORIES
95650       191289                  DSD GROCERY
95651       191291                      PRODUCE
95652       191293                PERSONAL CARE
95653       191298                      PRODUCE
95654       191301              BATH AND SHOWER
95655       191304          IMPULSE MERCHANDISE
95656       191305                     WIRELESS
95657       191311                    MENS WEAR
95658       191312                    MENS WEAR
95659       191313                SHEER HOSIERY
95660       191318                 FROZEN FOODS
95661       191322            GROCERY DRY GOODS
95662       191324                        DAIRY
95663       191326            GROCERY DRY GOODS
95664       191329                COOK AND DINE
95665       191331                   LADIESWEAR
95666       191335  INFANT CONSUMABLE HARDLINES
95667       191337            GROCERY DRY GOODS
95668       191342          IMPULSE MERCHANDISE
95669       191343                    MENS WEAR
95670       191344                       BEAUTY
95671       191345                  DSD GROCERY
95672       191346            GROCERY DRY GOODS
95673       191347                        DAIRY

[95674 rows x 2 columns]

해당 VisitNumber에 가장 많이 출현하는 DepartmentDescription을 나타내는 데이터프레임이다.

In [123]:
train_upc = train_df[['VisitNumber','Upc']]
train_upc = train_upc.groupby('VisitNumber',as_index=False).agg(mode)
train_upc

       VisitNumber    Upc
0                5  68113
1                7  60538
2                8   2238
3                9  00000
4               10   6414
5               11   4178
6               12   7603
7               15   2899
8               17   2840
9               19   7675
10              20   7192
11              23  00000
12              25   7874
13              26  89470
14              28   4900
15              29   1200
16              30   9933
17              31   7874
18              32   3400
19              33   4178
20              40   4900
21              41   7618
22              42   4000
23              43   7874
24              45   4610
25              47   8939
26              49   7464
27              50   3825
28              51  84105
29              53  00000
...            ...    ...
95644       191276   3650
95645       191277   7874
95646       191280   3700
95647       191283   3400
95648       191286   7680
95649       191287  72450
95650       191289  61126
95651       191291  00000
95652       191293  63084
95653       191298  68113
95654       191301   4796
95655       191304    980
95656       191305  82179
95657       191311  88703
95658       191312  76125
95659       191313   7001
95660       191318   1380
95661       191322   7874
95662       191324   7800
95663       191326   1600
95664       191329   7314
95665       191331  70462
95666       191335  68113
95667       191337   7874
95668       191342   4000
95669       191343  88530
95670       191344   7918
95671       191345   3700
95672       191346   7874
95673       191347   4190

[95674 rows x 2 columns]

해당 VisitNumber에 가장 많이 출현하는 Upc(Encoded) 컬럼을 나타내는 데이터프레임이다.

# Pivotting on VisitNumber

In [124]:
train_vn = pd.merge(train_dd,train_fl,on='VisitNumber')
train_vn = pd.merge(train_vn,train_upc,on='VisitNumber')
train_vn

       VisitNumber        DepartmentDescription  FinelineNumber    Upc
0                5           FINANCIAL SERVICES          1000.0  68113
1                7                        SHOES          8931.0  60538
2                8        PAINT AND ACCESSORIES          3565.0   2238
3                9                      PRODUCE           115.0  00000
4               10                  DSD GROCERY          2008.0   6414
5               11          IMPULSE MERCHANDISE          3114.0   4178
6               12                    BOYS WEAR           654.0   7603
7               15           FABRICS AND CRAFTS           514.0   2899
8               17                  DSD GROCERY          3352.0   2840
9               19                    MENS WEAR          8904.0   7675
10              20                 FROZEN FOODS          9117.0   7192
11              23                      PRODUCE          5501.0  00000
12              25  INFANT CONSUMABLE HARDLINES          9012.0   7874
13              26                        DAIRY          1450.0  89470
14              28                   LADIESWEAR          9538.0   4900
15              29                  DSD GROCERY          9205.0   1200
16              30                   LADIESWEAR          1180.0   9933
17              31                       BAKERY          5024.0   7874
18              32          IMPULSE MERCHANDISE           100.0   3400
19              33            GROCERY DRY GOODS          3114.0   4178
20              40                  DSD GROCERY          9546.0   4900
21              41                  DSD GROCERY          3054.0   7618
22              42          IMPULSE MERCHANDISE           115.0   4000
23              43                        DAIRY          1508.0   7874
24              45                        DAIRY          7960.0   4610
25              47                  DSD GROCERY          3458.0   8939
26              49                      PRODUCE          5501.0   7464
27              50                    MENS WEAR          8218.0   3825
28              51                PERSONAL CARE          1406.0  84105
29              53                      PRODUCE          1201.0  00000
...            ...                          ...             ...    ...
95644       191276              OFFICE SUPPLIES          2042.0   3650
95645       191277                PERSONAL CARE          4820.0   7874
95646       191280        HOUSEHOLD PAPER GOODS          3050.0   3700
95647       191283      CANDY, TOBACCO, COOKIES            79.0   3400
95648       191286            GROCERY DRY GOODS          3602.0   7680
95649       191287        PAINT AND ACCESSORIES          1011.0  72450
95650       191289                  DSD GROCERY          3467.0  61126
95651       191291                      PRODUCE          5501.0  00000
95652       191293                PERSONAL CARE          1084.0  63084
95653       191298                      PRODUCE          1450.0  68113
95654       191301              BATH AND SHOWER          9912.0   4796
95655       191304          IMPULSE MERCHANDISE           145.0    980
95656       191305                     WIRELESS           290.0  82179
95657       191311                    MENS WEAR          1640.0  88703
95658       191312                    MENS WEAR          4606.0  76125
95659       191313                SHEER HOSIERY          2771.0   7001
95660       191318                 FROZEN FOODS          1901.0   1380
95661       191322            GROCERY DRY GOODS          9100.0   7874
95662       191324                        DAIRY          1407.0   7800
95663       191326            GROCERY DRY GOODS          7301.0   1600
95664       191329                COOK AND DINE          4304.0   7314
95665       191331                   LADIESWEAR          9189.0  70462
95666       191335  INFANT CONSUMABLE HARDLINES          1120.0  68113
95667       191337            GROCERY DRY GOODS          4601.0   7874
95668       191342          IMPULSE MERCHANDISE           115.0   4000
95669       191343                    MENS WEAR          5225.0  88530
95670       191344                       BEAUTY          3405.0   7918
95671       191345                  DSD GROCERY          2764.0   3700
95672       191346            GROCERY DRY GOODS          4639.0   7874
95673       191347                        DAIRY          1512.0   4190

[95674 rows x 4 columns]

In [219]:
train_df['Upc'] = train_df['Upc'].apply(upc_decode)

In [217]:
len(train_vn['FinelineNumber'].unique()) , len(train_vn['Upc'].unique())

(4472, 3594)

In [240]:
testing_df2 = testing_df.groupby(by=['VisitNumber']).agg(mode)

In [241]:
testing_df2

                   DepartmentDescription  FinelineNumber    Upc
VisitNumber
5                     FINANCIAL SERVICES          1000.0  68113
7                                  SHOES          8931.0  60538
8                  PAINT AND ACCESSORIES          3565.0   2238
9                                PRODUCE           115.0  00000
10                           DSD GROCERY          2008.0   6414
11                   IMPULSE MERCHANDISE          3114.0   4178
12                             BOYS WEAR           654.0   7603
15                    FABRICS AND CRAFTS           514.0   2899
17                           DSD GROCERY          3352.0   2840
19                             MENS WEAR          8904.0   7675
20                          FROZEN FOODS          9117.0   7192
23                               PRODUCE          5501.0  00000
25           INFANT CONSUMABLE HARDLINES          9012.0   7874
26                                 DAIRY          1450.0  89470
28                            LADIESWEAR          9538.0   4900
29                           DSD GROCERY          9205.0   1200
30                            LADIESWEAR          1180.0   9933
31                                BAKERY          5024.0   7874
32                   IMPULSE MERCHANDISE           100.0   3400
33                     GROCERY DRY GOODS          3114.0   4178
40                           DSD GROCERY          9546.0   4900
41                           DSD GROCERY          3054.0   7618
42                   IMPULSE MERCHANDISE           115.0   4000
43                                 DAIRY          1508.0   7874
45                                 DAIRY          7960.0   4610
47                           DSD GROCERY          3458.0   8939
49                               PRODUCE          5501.0   7464
50                             MENS WEAR          8218.0   3825
51                         PERSONAL CARE          1406.0  84105
53                               PRODUCE          1201.0  00000
...                                  ...             ...    ...
191276                   OFFICE SUPPLIES          2042.0   3650
191277                     PERSONAL CARE          4820.0   7874
191280             HOUSEHOLD PAPER GOODS          3050.0   3700
191283           CANDY, TOBACCO, COOKIES            79.0   3400
191286                 GROCERY DRY GOODS          3602.0   7680
191287             PAINT AND ACCESSORIES          1011.0  72450
191289                       DSD GROCERY          3467.0  61126
191291                           PRODUCE          5501.0  00000
191293                     PERSONAL CARE          1084.0  63084
191298                           PRODUCE          1450.0  68113
191301                   BATH AND SHOWER          9912.0   4796
191304               IMPULSE MERCHANDISE           145.0    980
191305                          WIRELESS           290.0  82179
191311                         MENS WEAR          1640.0  88703
191312                         MENS WEAR          4606.0  76125
191313                     SHEER HOSIERY          2771.0   7001
191318                      FROZEN FOODS          1901.0   1380
191322                 GROCERY DRY GOODS          9100.0   7874
191324                             DAIRY          1407.0   7800
191326                 GROCERY DRY GOODS          7301.0   1600
191329                     COOK AND DINE          4304.0   7314
191331                        LADIESWEAR          9189.0  70462
191335       INFANT CONSUMABLE HARDLINES          1120.0  68113
191337                 GROCERY DRY GOODS          4601.0   7874
191342               IMPULSE MERCHANDISE           115.0   4000
191343                         MENS WEAR          5225.0  88530
191344                            BEAUTY          3405.0   7918
191345                       DSD GROCERY          2764.0   3700
191346                 GROCERY DRY GOODS          4639.0   7874
191347                             DAIRY          1512.0   4190

[95674 rows x 3 columns]

In [244]:
len(testing_df2['FinelineNumber'].unique()) , len(testing_df2['Upc'].unique())

(4472, 3594)

In [321]:
testing_df = train_df[['VisitNumber','FinelineNumber']]

In [322]:
testing_df = testing_df.groupby(by='VisitNumber').agg(mode)

In [323]:
testing_df.tail()

             FinelineNumber
VisitNumber
191343               5225.0
191344               3405.0
191345               2764.0
191346               4639.0
191347               1512.0

In [347]:
train_df = train_df[['VisitNumber','FinelineNumber','ScanCount']]

In [348]:
testing_df2 = train_df.groupby(by=['VisitNumber','FinelineNumber']).sum()

In [353]:
testing_df2.loc[80542,:,:]

                            ScanCount
VisitNumber FinelineNumber
80542       2351.0                  5
            4624.0                 -7

In [356]:
train_df = pd.read_csv('train.csv')

In [358]:
train_df = train_df[['TripType','ScanCount','FinelineNumber']]

In [359]:
train_df.tail()

        TripType  ScanCount  FinelineNumber
647049        39          1          1118.0
647050        39          1          1752.0
647051        39          1          4170.0
647052         8          1          1512.0
647053         8          1          3600.0

In [381]:
train_df = pd.read_csv('train.csv')

In [384]:
train_df = train_df[['TripType','FinelineNumber','ScanCount']]

In [385]:
testing_df = train_df.groupby(by=['TripType','FinelineNumber']).sum()

In [386]:
testing_df

                         ScanCount
TripType FinelineNumber
3        0.0                   807
         2.0                    76
         3.0                     1
         6.0                     3
         10.0                    1
         20.0                    1
         31.0                    1
         33.0                    4
         47.0                    1
         50.0                    1
         53.0                    1
         55.0                    3
         60.0                    2
         65.0                    1
         79.0                    4
         87.0                    1
         100.0                   5
         102.0                   1
         103.0                   2
         108.0                   2
         109.0                   2
         110.0                   3
         115.0                   3
         125.0                   3
         127.0                   1
         135.0                   9
         145.0                   4
         165.0                   1
         170.0                   1
         200.0                 309
...                            ...
999      9807.0                 -3
         9808.0                 -1
         9819.0                 -2
         9830.0                 -3
         9840.0                 -7
         9862.0                 -4
         9878.0                 -2
         9879.0                 -3
         9912.0                 -3
         9919.0                 -2
         9920.0                  1
         9921.0                 -1
         9922.0                  2
         9923.0                 -1
         9925.0                  2
         9926.0                -13
         9927.0                  0
         9928.0                 -3
         9931.0                 -1
         9933.0                 -6
         9934.0                 -5
         9936.0                  0
         9941.0                  0
         9942.0                 -2
         9970.0                 -1
         9971.0                  0
         9974.0                  1
         9975.0                 -1
         9997.0                  3
         9998.0                 -1

[63364 rows x 1 columns]

In [326]:
testing_ls = list(testing_df2["ScanCount"])

In [304]:
print(set(testing_ls))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 30, 31, 32, 34, 35, 39, 40, 42, 46, 47, 56, 58, 63, -9, 90, 108, -16, -12, -11, -10, -1, -8, -7, -6, -5, -4, -3, -2}

In [329]:
train_df = train_df[['VisitNumber','ScanCount','FinelineNumber']]

In [331]:
train_df.groupby(by='VisitNumber').agg({'ScanCount':np.sum })

             ScanCount
VisitNumber
5                   -1
7                    2
8                   28
9                    3
10                   3
11                   4
12                   7
15                   9
17                   4
19                   9
20                   3
23                   2
25                   3
26                  12
28                   8
29                   1
30                   1
31                   2
32                   1
33                   3
40                   3
41                   3
42                   1
43                   4
45                   4
47                   5
49                   5
50                   1
51                   2
53                   1
...                ...
191276               4
191277              21
191280               3
191283              10
191286              27
191287               4
191289               1
191291               2
191293              24
191298              22
191301               9
191304               6
191305               1
191311               2
191312              22
191313               4
191318               7
191322              15
191324              22
191326              11
191329              20
191331               1
191335               9
191337              27
191342               2
191343               9
191344               5
191345              17
191346              17
191347               2

[95674 rows x 1 columns]

In [332]:
train_df.groupby(by='FinelineNumber').agg({'ScanCount':np.sum})

                ScanCount
FinelineNumber
0.0                  3768
1.0                   513
2.0                   211
3.0                   102
4.0                   190
5.0                   438
6.0                   477
7.0                    74
8.0                    61
9.0                    36
10.0                  677
11.0                   37
12.0                  110
13.0                   55
14.0                  192
15.0                   63
16.0                  102
17.0                   94
18.0                  123
19.0                  549
20.0                  243
21.0                  150
22.0                  518
23.0                  106
24.0                   75
25.0                   29
26.0                   65
27.0                  475
28.0                  251
29.0                   28
...                   ...
9924.0                  1
9925.0                 47
9926.0                120
9927.0                 25
9928.0                 11
9929.0                  6
9930.0                 24
9931.0                 18
9932.0                  1
9933.0                  0
9934.0                 25
9936.0                 13
9937.0                  1
9938.0                  7
9941.0                  0
9942.0                 -1
9943.0                  1
9944.0                  3
9960.0                  3
9961.0                  2
9964.0                  1
9966.0                  8
9967.0                  2
9970.0                 81
9971.0                  3
9974.0                 74
9975.0                 35
9991.0                  1
9997.0                 53
9998.0                400

[5195 rows x 1 columns]