In [1]:
import numpy as np
import pandas as pd
from Unique_for_VisitNumber_and_for_TripType import *
train = pd.read_csv('train.csv')
train_df = train.copy()

/home/hskimim/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/home/hskimim/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [2]:
train_df = decodeStuffNeedsToBeDecoded(train_df)

In [3]:
train_df.tail()

,TripType,VisitNumber,Weekday,Upc,ScanCount,DepartmentDescription,FinelineNumber,Company
647049,39,191346,Sunday,323900017788,1,PHARMACY OTC,1118,323900
647050,39,191346,Sunday,078742053363,1,FROZEN FOODS,1752,078742
647051,39,191346,Sunday,000000040723,1,PRODUCE,4170,40
647052,8,191347,Sunday,041900076641,1,DAIRY,1512,041900
647053,8,191347,Sunday,038000596551,1,GROCERY DRY GOODS,3600,038000

In [4]:
testing_df = train_df.copy()

## Extract 1 Top ScanCount Item Number

In [5]:
train_groupby2 = testing_df.groupby(['TripType','FinelineNumber'],as_index=False)['ScanCount'].sum()

ls2 = []
for i in (train_groupby2['TripType'].unique()):
    max_sc = [np.max(train_groupby2[train_groupby2['TripType']==i]['ScanCount'])]
    ls2.append(train_groupby2[train_groupby2['ScanCount']==max_sc]['FinelineNumber'].values[0])
ls2 = list(set(ls2))
print(len(ls2))

train_groupby3 = testing_df.groupby(['TripType','Company'],as_index=False)['ScanCount'].sum()

ls3 = []
for i in (train_groupby3['TripType'].unique()):
    max_sc = [np.max(train_groupby3[train_groupby3['TripType']==i]['ScanCount'])]
    ls3.append(train_groupby3[train_groupby3['ScanCount']==max_sc]['Company'].values[0])
ls3 = list(set(ls3))
print(len(ls3))

32
22

In [6]:
df_fl = pd.get_dummies(testing_df['FinelineNumber'])[ls2]

In [7]:
df_comp = pd.get_dummies(testing_df['Company'])[ls3]

In [8]:
df_fl.shape , df_comp.shape

((647054, 32), (647054, 22))

In [9]:
df_fl.to_csv('df_fl.csv')
df_comp.to_csv('df_comp.csv')

KeyboardInterrupt:

## Extract `N` Top ScanCount Item Number

In [1]:
import numpy as np
import pandas as pd
from Unique_for_VisitNumber_and_for_TripType import *
train = pd.read_csv('train.csv')
train_df = train.copy()

/home/hskimim/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/home/hskimim/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [2]:
train_df = decodeStuffNeedsToBeDecoded(train_df)

In [3]:
train_df.tail()

,TripType,VisitNumber,Weekday,Upc,ScanCount,DepartmentDescription,FinelineNumber,Company
647049,39,191346,Sunday,323900017788,1,PHARMACY OTC,1118,323900
647050,39,191346,Sunday,078742053363,1,FROZEN FOODS,1752,078742
647051,39,191346,Sunday,000000040723,1,PRODUCE,4170,40
647052,8,191347,Sunday,041900076641,1,DAIRY,1512,041900
647053,8,191347,Sunday,038000596551,1,GROCERY DRY GOODS,3600,038000

In [4]:
testing_df = train_df.copy()

In [5]:
train_groupby2 = testing_df.groupby(['TripType','FinelineNumber'],as_index=False)['ScanCount'].sum()

ls2 = []
for i in (train_groupby2['TripType'].unique()):
    top5_sc = sorted(list(train_groupby2[train_groupby2['TripType']==i]['ScanCount'].values))[-5:]
    for j in range(len(top5_sc)):
        ls2.append(train_groupby2[train_groupby2['ScanCount']==top5_sc[j]]['FinelineNumber'].values[0])
print(len(ls2))

train_groupby3 = testing_df.groupby(['TripType','Company'],as_index=False)['ScanCount'].sum()

ls3 = []
for i in (train_groupby3['TripType'].unique()):
    top5_sc2 = sorted(list(train_groupby3[train_groupby3['TripType']==i]['ScanCount'].values))[-5:]
    for j in range(len(top5_sc2)):
        ls3.append(train_groupby3[train_groupby3['ScanCount']==top5_sc2[j]]['Company'].values[0])
print(len(ls3))

190
190

In [6]:
ls2 = list(set(ls2)); ls3 = list(set(ls3))

In [7]:
len(ls2) , len(ls3)

(110, 76)

In [8]:
df_fl2 = pd.get_dummies(testing_df['FinelineNumber'])[ls2]
df_comp2 = pd.get_dummies(testing_df['Company'])[ls3]

In [10]:
df_fl2.shape , df_comp2.shape

((647054, 110), (647054, 76))

In [11]:
df_fl2.to_csv('df_fl2.csv')
df_comp2.to_csv('df_comp2.csv')