In [33]:
import numpy as np
import pandas as pd
from Unique_for_VisitNumber_and_for_TripType import *

In [34]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [35]:
train = decodeStuffNeedsToBeDecoded(train)

In [36]:
train_df = train.copy()
test_df = test.copy()

In [10]:
train_un_tt_upc =  unique_for_triptype(train_df,"Upc")
# test_un_tt_upc = unique_for_triptype(test_df,"Upc")

##### Upc 만드는 중, 상대적으로 가장 오랜 시간이 걸립니다.

In [11]:
train_un_tt_fl = unique_for_triptype(train_df,'FinelineNumber')
# test_un_tt_fl = unique_for_triptype(test_df,'FinelineNumber')

##### FinelineNumber 만드는 중

In [12]:
train_un_tt_dd = unique_for_triptype(train_df)
# test_un_tt_dd = unique_for_triptype(test_df)

##### DepartmentDescription 만드는 중

In [13]:
train_un_vs_upc = %time unique_for_visitnumber(train_df,'Upc')
# test_un_vs_upc = %time unique_for_visitnumber(test_df,'Upc')

##### Upc 만드는 중, 상대적으로 가장 오랜 시간이 걸립니다. (2분 정도 소요 예상)

CPU times: user 1min 22s, sys: 0 ns, total: 1min 22s
Wall time: 1min 22s

In [14]:
train_un_vs_fl = unique_for_visitnumber(train_df,'FinelineNumber')
# test_un_vs_fl = unique_for_visitnumber(test_df,'FinelineNumber')

##### FinelineNumber 만드는 중

In [15]:
train_un_vs_dd = unique_for_visitnumber(train_df)
# test_un_vs_dd = unique_for_visitnumber(test_df)

##### DepartmentDescription 만드는 중

In [16]:
train_df.tail()

,TripType,VisitNumber,Weekday,Upc,ScanCount,DepartmentDescription,FinelineNumber,Company
647049,39,191346,Sunday,323900017788,1,PHARMACY OTC,1118,323900
647050,39,191346,Sunday,078742053363,1,FROZEN FOODS,1752,078742
647051,39,191346,Sunday,000000040723,1,PRODUCE,4170,40
647052,8,191347,Sunday,041900076641,1,DAIRY,1512,041900
647053,8,191347,Sunday,038000596551,1,GROCERY DRY GOODS,3600,038000

In [17]:
# test_df.tail()

In [18]:
train_un_tt = merging_unique_df(train_un_tt_dd,train_un_tt_fl,train_un_tt_upc,'TripType')
# test_un_tt = merging_unique_df(test_un_tt_dd,test_un_tt_fl,test_un_tt_upc,'TripType')

In [19]:
train_un_vs = merging_unique_df(train_un_vs_dd,train_un_vs_fl,train_un_vs_upc,'VisitNumber')
# test_un_vs = merging_unique_df(test_un_vs_dd,test_un_vs_fl,test_un_vs_upc,'VisitNumber')

In [20]:
train_un_tt.tail()

,TripType,unique_for_triptype_x,unique_for_triptype_y,unique_for_triptype
33,41,65,1970,4459
34,42,64,3337,14115
35,43,62,2005,5049
36,44,64,3276,14412
37,999,68,2920,9534

In [24]:
train_un_vs.tail()

       VisitNumber  Num_DepartmentDescription  Num_FinelineNumber  Num_Upc
95669       191343                          3                   5        7
95670       191344                          2                   3        5
95671       191345                          8                  12       13
95672       191346                          8                  16       17
95673       191347                          2                   2        2

In [37]:
train_df.tail()

,TripType,VisitNumber,Weekday,Upc,ScanCount,DepartmentDescription,FinelineNumber,Company
647049,39,191346,Sunday,323900017788,1,PHARMACY OTC,1118,323900
647050,39,191346,Sunday,078742053363,1,FROZEN FOODS,1752,078742
647051,39,191346,Sunday,000000040723,1,PRODUCE,4170,40
647052,8,191347,Sunday,041900076641,1,DAIRY,1512,041900
647053,8,191347,Sunday,038000596551,1,GROCERY DRY GOODS,3600,038000

In [38]:
from awesome_functions import *
train_df = make_df_we_wanted(train_df,train_df,test,is_need_null_column=True)

##### Dummy타입으로 만든 컬럼 명 : DepartmentDescription

##### ScanCount는 양수만 사용

##### Train df 만드는 중

##### Null 컬럼을 만듬

> 위 정보들을 Display하는 이유는 이번 FeatureMatrix를 사용한 모델에 Fit할 Test 모델 만들 때 같은 전처리를 하기 위해서다.

In [39]:
train_df.tail()

,VisitNumber,TripType,Company,Return,1-HR PHOTO,ACCESSORIES,AUTOMOTIVE,BAKERY,BATH AND SHOWER,BEAUTY,...,SWIMWEAR/OUTERWEAR,TOYS,WIRELESS,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday
95669,191343,25,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
95670,191344,22,0,0,0,0,0,0,0,4,...,0,0,1,0,0,0,0,0,0,1
95671,191345,39,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
95672,191346,39,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
95673,191347,8,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [47]:
train_df = train_df.merge(train_un_vs,on='VisitNumber')

In [54]:
train_df.tail()

,VisitNumber,TripType,Company,Return,1-HR PHOTO,ACCESSORIES,AUTOMOTIVE,BAKERY,BATH AND SHOWER,BEAUTY,...,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday,Num_DepartmentDescription,Num_FinelineNumber,Num_Upc
95669,191343,25,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,3,5,7
95670,191344,22,0,0,0,0,0,0,0,4,...,0,0,0,0,0,0,1,2,3,5
95671,191345,39,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,1,8,12,13
95672,191346,39,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,8,16,17
95673,191347,8,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,2,2,2

In [82]:
train_df.drop(columns='Company',inplace=True)

In [83]:
train_df.tail()

,VisitNumber,TripType,Return,1-HR PHOTO,ACCESSORIES,AUTOMOTIVE,BAKERY,BATH AND SHOWER,BEAUTY,BEDDING,...,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday,Num_DepartmentDescription,Num_FinelineNumber,Num_Upc
95669,191343,25,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,3,5,7
95670,191344,22,0,0,0,0,0,0,4,0,...,0,0,0,0,0,0,1,2,3,5
95671,191345,39,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,8,12,13
95672,191346,39,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,8,16,17
95673,191347,8,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,2,2,2

In [49]:
train_X , train_y = get_df_to_fit(train_df)

In [59]:
train_X.drop(columns='Company',inplace=True)

In [63]:
train_X = train_X.astype('int')
train_y = train_y.astype('int')

In [65]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score , log_loss

In [64]:
multi_model = MultinomialNB().fit(train_X, train_y)

In [76]:
accuracy_score(train_y,multi_model.predict(train_X))

0.590703848485482

In [79]:
from sklearn.linear_model import LogisticRegression
logis_model = LogisticRegression().fit(train_X,train_y)

In [80]:
accuracy_scoreracy_score(train_y,logis_model.predict(train_X))

0.6586847001275163

In [92]:
import xgboost as xgb
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
label_enc = LabelEncoder().fit(train_y)
y_labeled = label_enc.transform(train_y)

In [93]:
X_train, X_test, y_train, y_test = train_test_split(train_X, y_labeled, random_state=0)

In [94]:
dtrain = xgb.DMatrix(X_train.values, label=y_train)
dtest = xgb.DMatrix(X_test.values, label=y_test)

In [95]:
num_boost_round = 300
params = {'objective': 'multi:softprob', 
          'eval_metric': 'mlogloss',
          'num_class':38, 
          'max_delta_step': 3, 
          'eta': 0.2}

evals = [(dtrain, 'train'), (dtest, 'eval')]

bst = xgb.train(params=params,  
                dtrain=dtrain, 
                num_boost_round=num_boost_round, 
                evals=evals,
                early_stopping_rounds=10,)

[0]	train-mlogloss:3.07649	eval-mlogloss:3.08584
Multiple eval metrics have been passed: 'eval-mlogloss' will be used for early stopping.

Will train until eval-mlogloss hasn't improved in 10 rounds.
[1]	train-mlogloss:2.58978	eval-mlogloss:2.61105
[2]	train-mlogloss:2.20173	eval-mlogloss:2.2345
[3]	train-mlogloss:1.92112	eval-mlogloss:1.96298
[4]	train-mlogloss:1.73401	eval-mlogloss:1.78322
[5]	train-mlogloss:1.59345	eval-mlogloss:1.64919
[6]	train-mlogloss:1.48392	eval-mlogloss:1.5448
[7]	train-mlogloss:1.3937	eval-mlogloss:1.46074
[8]	train-mlogloss:1.31969	eval-mlogloss:1.39114
[9]	train-mlogloss:1.25788	eval-mlogloss:1.33451
[10]	train-mlogloss:1.20461	eval-mlogloss:1.28557
[11]	train-mlogloss:1.159	eval-mlogloss:1.24417
[12]	train-mlogloss:1.12007	eval-mlogloss:1.20914
[13]	train-mlogloss:1.08597	eval-mlogloss:1.17894
[14]	train-mlogloss:1.05574	eval-mlogloss:1.15267
[15]	train-mlogloss:1.02837	eval-mlogloss:1.1289
[16]	train-mlogloss:1.00455	eval-mlogloss:1.10855
[17]	train-mlogloss:0.983287	eval-mlogloss:1.09093
[18]	train-mlogloss:0.963762	eval-mlogloss:1.07466
[19]	train-mlogloss:0.945662	eval-mlogloss:1.06002
[20]	train-mlogloss:0.930229	eval-mlogloss:1.04762
[21]	train-mlogloss:0.915685	eval-mlogloss:1.03619
[22]	train-mlogloss:0.90261	eval-mlogloss:1.02602
[23]	train-mlogloss:0.890514	eval-mlogloss:1.0169
[24]	train-mlogloss:0.879355	eval-mlogloss:1.00866
[25]	train-mlogloss:0.868926	eval-mlogloss:1.00109
[26]	train-mlogloss:0.858859	eval-mlogloss:0.993613
[27]	train-mlogloss:0.849759	eval-mlogloss:0.98716
[28]	train-mlogloss:0.841482	eval-mlogloss:0.981722
[29]	train-mlogloss:0.834024	eval-mlogloss:0.976702
[30]	train-mlogloss:0.826354	eval-mlogloss:0.972011
[31]	train-mlogloss:0.819553	eval-mlogloss:0.967835
[32]	train-mlogloss:0.812968	eval-mlogloss:0.963657
[33]	train-mlogloss:0.806288	eval-mlogloss:0.959811
[34]	train-mlogloss:0.800444	eval-mlogloss:0.956251
[35]	train-mlogloss:0.795046	eval-mlogloss:0.953392
[36]	train-mlogloss:0.789798	eval-mlogloss:0.950208
[37]	train-mlogloss:0.784852	eval-mlogloss:0.947573
[38]	train-mlogloss:0.77998	eval-mlogloss:0.945246
[39]	train-mlogloss:0.775522	eval-mlogloss:0.942967
[40]	train-mlogloss:0.771219	eval-mlogloss:0.940835
[41]	train-mlogloss:0.767077	eval-mlogloss:0.938828
[42]	train-mlogloss:0.763018	eval-mlogloss:0.937084
[43]	train-mlogloss:0.75912	eval-mlogloss:0.935118
[44]	train-mlogloss:0.755432	eval-mlogloss:0.933479
[45]	train-mlogloss:0.751848	eval-mlogloss:0.931878
[46]	train-mlogloss:0.748615	eval-mlogloss:0.930272
[47]	train-mlogloss:0.745162	eval-mlogloss:0.929026
[48]	train-mlogloss:0.7417	eval-mlogloss:0.927843
[49]	train-mlogloss:0.738478	eval-mlogloss:0.926605
[50]	train-mlogloss:0.735239	eval-mlogloss:0.925365
[51]	train-mlogloss:0.732297	eval-mlogloss:0.924178
[52]	train-mlogloss:0.729406	eval-mlogloss:0.923148
[53]	train-mlogloss:0.726539	eval-mlogloss:0.921973
[54]	train-mlogloss:0.723699	eval-mlogloss:0.920795
[55]	train-mlogloss:0.721039	eval-mlogloss:0.920013
[56]	train-mlogloss:0.718481	eval-mlogloss:0.919267
[57]	train-mlogloss:0.715984	eval-mlogloss:0.918448
[58]	train-mlogloss:0.713634	eval-mlogloss:0.917706
[59]	train-mlogloss:0.711101	eval-mlogloss:0.916871
[60]	train-mlogloss:0.708605	eval-mlogloss:0.916021
[61]	train-mlogloss:0.706185	eval-mlogloss:0.91543
[62]	train-mlogloss:0.703887	eval-mlogloss:0.914728
[63]	train-mlogloss:0.701417	eval-mlogloss:0.914024
[64]	train-mlogloss:0.698997	eval-mlogloss:0.913348
[65]	train-mlogloss:0.696777	eval-mlogloss:0.912726
[66]	train-mlogloss:0.694471	eval-mlogloss:0.912163
[67]	train-mlogloss:0.692281	eval-mlogloss:0.911828
[68]	train-mlogloss:0.690235	eval-mlogloss:0.911385
[69]	train-mlogloss:0.688319	eval-mlogloss:0.911027
[70]	train-mlogloss:0.686393	eval-mlogloss:0.910553
[71]	train-mlogloss:0.684427	eval-mlogloss:0.909996
[72]	train-mlogloss:0.682636	eval-mlogloss:0.909441
[73]	train-mlogloss:0.680983	eval-mlogloss:0.909031
[74]	train-mlogloss:0.679061	eval-mlogloss:0.908827
[75]	train-mlogloss:0.677168	eval-mlogloss:0.908277
[76]	train-mlogloss:0.675396	eval-mlogloss:0.907825
[77]	train-mlogloss:0.673802	eval-mlogloss:0.907349
[78]	train-mlogloss:0.672201	eval-mlogloss:0.906991
[79]	train-mlogloss:0.670333	eval-mlogloss:0.906484
[80]	train-mlogloss:0.668219	eval-mlogloss:0.90577
[81]	train-mlogloss:0.666694	eval-mlogloss:0.905414
[82]	train-mlogloss:0.664906	eval-mlogloss:0.905199
[83]	train-mlogloss:0.663224	eval-mlogloss:0.905006
[84]	train-mlogloss:0.66141	eval-mlogloss:0.904711
[85]	train-mlogloss:0.659823	eval-mlogloss:0.904482
[86]	train-mlogloss:0.657984	eval-mlogloss:0.904052
[87]	train-mlogloss:0.656393	eval-mlogloss:0.903751
[88]	train-mlogloss:0.65478	eval-mlogloss:0.903476
[89]	train-mlogloss:0.653358	eval-mlogloss:0.903125
[90]	train-mlogloss:0.651936	eval-mlogloss:0.902872
[91]	train-mlogloss:0.650475	eval-mlogloss:0.90274
[92]	train-mlogloss:0.649117	eval-mlogloss:0.902516
[93]	train-mlogloss:0.647638	eval-mlogloss:0.902279
[94]	train-mlogloss:0.646332	eval-mlogloss:0.902136
[95]	train-mlogloss:0.644885	eval-mlogloss:0.901994
[96]	train-mlogloss:0.643437	eval-mlogloss:0.90174
[97]	train-mlogloss:0.641887	eval-mlogloss:0.901526
[98]	train-mlogloss:0.640514	eval-mlogloss:0.901361
[99]	train-mlogloss:0.638951	eval-mlogloss:0.901156
[100]	train-mlogloss:0.637795	eval-mlogloss:0.90103
[101]	train-mlogloss:0.63652	eval-mlogloss:0.900797
[102]	train-mlogloss:0.635252	eval-mlogloss:0.900651
[103]	train-mlogloss:0.633976	eval-mlogloss:0.900547
[104]	train-mlogloss:0.632507	eval-mlogloss:0.900519
[105]	train-mlogloss:0.631179	eval-mlogloss:0.900348
[106]	train-mlogloss:0.629967	eval-mlogloss:0.900117
[107]	train-mlogloss:0.628453	eval-mlogloss:0.899904
[108]	train-mlogloss:0.626897	eval-mlogloss:0.899828
[109]	train-mlogloss:0.625523	eval-mlogloss:0.899459
[110]	train-mlogloss:0.624577	eval-mlogloss:0.899438
[111]	train-mlogloss:0.623357	eval-mlogloss:0.89933
[112]	train-mlogloss:0.622194	eval-mlogloss:0.89921
[113]	train-mlogloss:0.621047	eval-mlogloss:0.899219
[114]	train-mlogloss:0.61985	eval-mlogloss:0.899083
[115]	train-mlogloss:0.61879	eval-mlogloss:0.899053
[116]	train-mlogloss:0.617509	eval-mlogloss:0.898948
[117]	train-mlogloss:0.616111	eval-mlogloss:0.898937
[118]	train-mlogloss:0.615031	eval-mlogloss:0.898903
[119]	train-mlogloss:0.613806	eval-mlogloss:0.898741
[120]	train-mlogloss:0.61261	eval-mlogloss:0.898746
[121]	train-mlogloss:0.611459	eval-mlogloss:0.898651
[122]	train-mlogloss:0.610394	eval-mlogloss:0.898559
[123]	train-mlogloss:0.609052	eval-mlogloss:0.898542
[124]	train-mlogloss:0.607729	eval-mlogloss:0.898366
[125]	train-mlogloss:0.606642	eval-mlogloss:0.898327
[126]	train-mlogloss:0.60549	eval-mlogloss:0.898282
[127]	train-mlogloss:0.604407	eval-mlogloss:0.898135
[128]	train-mlogloss:0.60313	eval-mlogloss:0.89803
[129]	train-mlogloss:0.601951	eval-mlogloss:0.897989
[130]	train-mlogloss:0.600859	eval-mlogloss:0.897888
[131]	train-mlogloss:0.599782	eval-mlogloss:0.897768
[132]	train-mlogloss:0.598733	eval-mlogloss:0.897693
[133]	train-mlogloss:0.597419	eval-mlogloss:0.897681
[134]	train-mlogloss:0.596402	eval-mlogloss:0.897723
[135]	train-mlogloss:0.595398	eval-mlogloss:0.897665
[136]	train-mlogloss:0.594603	eval-mlogloss:0.897655
[137]	train-mlogloss:0.593461	eval-mlogloss:0.89751
[138]	train-mlogloss:0.592405	eval-mlogloss:0.897483
[139]	train-mlogloss:0.591296	eval-mlogloss:0.897506
[140]	train-mlogloss:0.590062	eval-mlogloss:0.897609
[141]	train-mlogloss:0.588822	eval-mlogloss:0.897592
[142]	train-mlogloss:0.587933	eval-mlogloss:0.897743
[143]	train-mlogloss:0.586752	eval-mlogloss:0.897672
[144]	train-mlogloss:0.585608	eval-mlogloss:0.897761
[145]	train-mlogloss:0.584621	eval-mlogloss:0.897779
[146]	train-mlogloss:0.583617	eval-mlogloss:0.897828
[147]	train-mlogloss:0.582661	eval-mlogloss:0.897809
[148]	train-mlogloss:0.581628	eval-mlogloss:0.897875
Stopping. Best iteration:
[138]	train-mlogloss:0.592405	eval-mlogloss:0.897483