In [9]:
import pandas as pd
import numpy as np

In [10]:
train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')

In [11]:
train_df.tail()

,TripType,VisitNumber,Weekday,Upc,ScanCount,DepartmentDescription,FinelineNumber
647049,39,191346,Sunday,3.239000e+10,1,PHARMACY OTC,1118.0
647050,39,191346,Sunday,7.874205e+09,1,FROZEN FOODS,1752.0
647051,39,191346,Sunday,4.072000e+03,1,PRODUCE,4170.0
647052,8,191347,Sunday,4.190008e+09,1,DAIRY,1512.0
647053,8,191347,Sunday,3.800060e+09,1,GROCERY DRY GOODS,3600.0

In [12]:
df = train_df['FinelineNumber'].value_counts().reset_index()

In [13]:
fd_min = df.iloc[:1299,0]
fd_max = df.iloc[3896:,0]
len(fd_min) , len(fd_max)

(1299, 1299)

In [45]:
fd_min2 = df.iloc[:520,0]
fd_max2 = df.iloc[4675:,0]
# len(fd_min2) , len(fd_max2)

In [15]:
fl_df = pd.get_dummies(train_df['FinelineNumber'])
fl_df = fl_df[fd_min2]

In [16]:
train_df = pd.concat([train_df,fl_df],axis=1)

In [17]:
train_df.shape

(647054, 527)

# FinelineNumber count Number 아래에서 10%

In [19]:
from awesome_functions import *

In [20]:
train_df = make_df_we_wanted(train_df,train_df,test_df,is_need_null_column=True)

##### Dummy타입으로 만든 컬럼 명 : DepartmentDescription

##### ScanCount는 양수만 사용

##### Train df 만드는 중

##### Null 컬럼을 만듬

> 위 정보들을 Display하는 이유는 이번 FeatureMatrix를 사용한 모델에 Fit할 Test 모델 만들 때 같은 전처리를 하기 위해서다.

In [21]:
train_X , train_y = get_df_to_fit(train_df)

In [22]:
train_X.tail()

,5501.0,1508.0,135.0,808.0,0.0,9546.0,1407.0,4606.0,115.0,203.0,...,SWIMWEAR/OUTERWEAR,TOYS,WIRELESS,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday
95669,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
95670,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
95671,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
95672,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
95673,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [23]:
from sklearn.naive_bayes import MultinomialNB

In [24]:
NB_model = MultinomialNB().fit(train_X,train_y)

In [25]:
from sklearn.metrics import accuracy_score

In [26]:
accuracy_score(train_y,NB_model.predict(train_X))

0.5858017852290068

In [27]:
from sklearn.linear_model import LogisticRegression

In [28]:
logis_model = LogisticRegression().fit(train_X,train_y)

In [29]:
accuracy_scoreracy_score(train_y,logis_model.predict(train_X))

0.7151890795827498

# FinelineNumber count Number 위에서 10%

In [1]:
import pandas as pd
import numpy as np

/home/hskimim/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/home/hskimim/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [2]:
train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')

In [3]:
fl_df = pd.get_dummies(train_df['FinelineNumber'])

In [3]:
df = train_df['FinelineNumber'].value_counts().reset_index()
fd_max2 = df.iloc[4675:,0]
fd_min2 = df.iloc[:520,0]

In [5]:
len(fd_max2)

520

In [6]:
fl_df = fl_df[fd_max2]

In [7]:
train_df = pd.concat([train_df,fl_df],axis=1)

In [8]:
train_df.shape

(647054, 527)

In [20]:
from awesome_functions import *

In [10]:
train_df = make_df_we_wanted(train_df,train_df,test_df,is_need_null_column=True)

##### Dummy타입으로 만든 컬럼 명 : DepartmentDescription

##### ScanCount는 양수만 사용

##### Train df 만드는 중

##### Null 컬럼을 만듬

> 위 정보들을 Display하는 이유는 이번 FeatureMatrix를 사용한 모델에 Fit할 Test 모델 만들 때 같은 전처리를 하기 위해서다.

In [11]:
train_X , train_y = get_df_to_fit(train_df)

In [12]:
train_X.tail()

,4172.0,5349.0,4358.0,236.0,5351.0,3959.0,8167.0,4209.0,182.0,7666.0,...,SWIMWEAR/OUTERWEAR,TOYS,WIRELESS,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday
95669,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
95670,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
95671,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
95672,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
95673,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [13]:
from sklearn.naive_bayes import MultinomialNB

In [14]:
NB_model = MultinomialNB().fit(train_X,train_y)

In [15]:
from sklearn.metrics import accuracy_score

In [16]:
accuracy_score(train_y,NB_model.predict(train_X))

0.5866588623868554

In [17]:
from sklearn.linear_model import LogisticRegression

/home/hskimim/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [18]:
logis_model = LogisticRegression().fit(train_X,train_y)

In [19]:
accuracy_score(train_y,logis_model.predict(train_X))

0.6499257896607229

In [21]:
fd_min2 = df.iloc[:520,0]
fd_max2 = df.iloc[4675:,0]

In [4]:
fd_2 = pd.concat([fd_min2,fd_max2],axis=0)

In [26]:
fd_2.shape

(1040,)

In [11]:
import pandas as pd
import numpy as np
train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')

In [2]:
fl_df = pd.get_dummies(train_df['FinelineNumber'])

In [5]:
fl_df = fl_df.loc[:,fd_2]

In [8]:
fl_df.shape

(647054, 1040)

In [9]:
train_df = pd.concat([train_df,fl_df],axis=1)

In [12]:
from awesome_functions import *
train_df = make_df_we_wanted(train_df,train_df,test_df,is_need_null_column=True)

##### Dummy타입으로 만든 컬럼 명 : DepartmentDescription

##### ScanCount는 양수만 사용

##### Train df 만드는 중

##### Null 컬럼을 만듬

> 위 정보들을 Display하는 이유는 이번 FeatureMatrix를 사용한 모델에 Fit할 Test 모델 만들 때 같은 전처리를 하기 위해서다.

In [13]:
train_X , train_y = get_df_to_fit(train_df)

In [14]:
from sklearn.naive_bayes import MultinomialNB
NB_model = MultinomialNB().fit(train_X,train_y)

In [15]:
from sklearn.metrics import accuracy_score
accuracy_score(train_y,NB_model.predict(train_X))

0.5804607312331459

In [16]:
from sklearn.linear_model import LogisticRegression
logis_model = LogisticRegression().fit(train_X,train_y)

/home/hskimim/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [17]:
accuracy_score(train_y,logis_model.predict(train_X))

0.6479712356544097