In [463]:
import numpy as np
import pandas as pd

In [464]:
train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')

In [465]:
train_df.tail()

,TripType,VisitNumber,Weekday,Upc,ScanCount,DepartmentDescription,FinelineNumber
647049,39,191346,Sunday,3.239000e+10,1,PHARMACY OTC,1118.0
647050,39,191346,Sunday,7.874205e+09,1,FROZEN FOODS,1752.0
647051,39,191346,Sunday,4.072000e+03,1,PRODUCE,4170.0
647052,8,191347,Sunday,4.190008e+09,1,DAIRY,1512.0
647053,8,191347,Sunday,3.800060e+09,1,GROCERY DRY GOODS,3600.0

In [466]:
test_df.tail()

,VisitNumber,Weekday,Upc,ScanCount,DepartmentDescription,FinelineNumber
653641,191348,Sunday,6.657211e+10,1,BATH AND SHOWER,1505.0
653642,191348,Sunday,8.818139e+10,1,BATH AND SHOWER,1099.0
653643,191348,Sunday,4.282557e+09,1,MENS WEAR,8220.0
653644,191348,Sunday,8.046919e+10,1,SWIMWEAR/OUTERWEAR,114.0
653645,191348,Sunday,7.871536e+09,1,MENS WEAR,4923.0

원본 유지를 위해서 깊은 복사

In [467]:
testing_df = train_df[['TripType','FinelineNumber','ScanCount']].copy()

일부분만 추출

In [468]:
testing_df.head()

   TripType  FinelineNumber  ScanCount
0       999          1000.0         -1
1        30          8931.0          1
2        30          4504.0          1
3        26          3565.0          2
4        26          1017.0          2

TripType , FinelineNumber 를 계층적 인덱스로 기준을 잡고 나머지 ScanCount를 더한 것을 value로 하는 데이터프레임 형성

In [469]:
testing_df = testing_df.groupby(by=['TripType','FinelineNumber']).sum()

triptype_ls 에는 TripType(3,..,999)의 고유한 값만이 들어간다.

In [470]:
triptype_ls = sorted(list(train_df['TripType'].unique()))
len(triptype_ls)

38

상위 5개의 ScanCount를 뽑아내는 반복문이다. ls_iter list에 하나의 TripType기준으로 상위 5개를 저장해 묶어 저장한다.

In [471]:
ls_iter = []
for i in triptype_ls:
    ls_iter.append(list(testing_df.loc[i].sort_values(by='ScanCount')['ScanCount'])[-5:])
len(ls_iter)

38

38개의 TripType 을 키로 하고, 상위 5개의 ScanCount값을 value로 하는 dictionary dict_top5

In [472]:
dict_top5 = dict(zip(triptype_ls,ls_iter))
len(dict_top5)

38

In [499]:
testing_df.loc[i,:,:][testing_df.loc[:]['ScanCount'] == k].loc[i]

/home/hskimim/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

                ScanCount
FinelineNumber
8023.0                620

In [487]:
ls_fl_testing = []
for i ,j in dict_top5.items():
    for k in j:
        ls_fl_testing.append(list((testing_df.loc[i,:,:][testing_df.loc[:]['ScanCount'] == k].loc[i].index)))
len(ls_fl_testing)

/home/hskimim/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.

190

In [488]:
ls_fl_testing
ls_fl_testing = [i for l in ls_fl_testing for i in l]

In [489]:
len(ls_fl_testing)

209

In [496]:
ls_fl_testing = list(set(ls_fl_testing))
len(ls_fl_testing)

132

In [497]:
sorted(ls_fl_testing)

[0.0,
 10.0,
 22.0,
 31.0,
 55.0,
 100.0,
 102.0,
 103.0,
 110.0,
 115.0,
 135.0,
 150.0,
 203.0,
 250.0,
 275.0,
 276.0,
 277.0,
 278.0,
 281.0,
 285.0,
 302.0,
 324.0,
 401.0,
 403.0,
 514.0,
 571.0,
 601.0,
 630.0,
 702.0,
 723.0,
 808.0,
 816.0,
 818.0,
 900.0,
 965.0,
 970.0,
 1017.0,
 1021.0,
 1029.0,
 1101.0,
 1110.0,
 1118.0,
 1121.0,
 1156.0,
 1165.0,
 1169.0,
 1181.0,
 1200.0,
 1260.0,
 1264.0,
 1303.0,
 1407.0,
 1436.0,
 1505.0,
 1508.0,
 1555.0,
 1748.0,
 1805.0,
 1835.0,
 1946.0,
 2000.0,
 2045.0,
 2500.0,
 2503.0,
 3004.0,
 3120.0,
 3155.0,
 3168.0,
 3175.0,
 3176.0,
 3452.0,
 3467.0,
 3515.0,
 3550.0,
 3555.0,
 3600.0,
 3601.0,
 3903.0,
 4010.0,
 4100.0,
 4520.0,
 4606.0,
 4607.0,
 4822.0,
 4825.0,
 4905.0,
 5017.0,
 5048.0,
 5092.0,
 5113.0,
 5330.0,
 5410.0,
 5501.0,
 5510.0,
 5550.0,
 5620.0,
 5805.0,
 6002.0,
 6110.0,
 6115.0,
 6219.0,
 6226.0,
 6303.0,
 7010.0,
 7677.0,
 7700.0,
 7803.0,
 7905.0,
 7949.0,
 8005.0,
 8010.0,
 8012.0,
 8014.0,
 8018.0,
 8022.0,
 8023.0,
 8070.0,
 8101.0,
 8103.0,
 8123.0,
 8430.0,
 8720.0,
 8814.0,
 8904.0,
 8910.0,
 8945.0,
 9546.0,
 9625.0,
 9640.0,
 9704.0,
 9803.0,
 9998.0]

In [502]:
ls_test = sorted(list(train_df['FinelineNumber'].unique()))
len(ls_test)

5196

In [503]:
count = 0
for i in ls_test:
    for j in ls_fl_testing:
        if i == j:
            count+=1

In [504]:
count

132

In [ ]:
fineline_top5_df = pd.DataFrame()
fineline_top5_