In [1]:
import numpy as np
import pandas as pd
from awesome_functions import *
import warnings
warnings.simplefilter('ignore')
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import classification_report , accuracy_score ,log_loss
from sklearn.ensemble import RandomForestClassifier , ExtraTreesClassifier
from sklearn.model_selection import GridSearchCV , KFold
from sklearn.svm import SVC
import xgboost as xgb

## 시행할 모델링을 선택해주세요 원하시지 않으면 `False` 로 처리해주세요

In [2]:
logistic = False
multi = False
random = False # 그리드서치로 인해 시간이 많이 소요됩니다.
extra = False # 그리드서치로 인해 시간이 많이 소요됩니다.
svc = False # 기본적으로 시간이 많이 소요됩니다.
xgboost = True

## 경로를 포함한 파일이름을 넣어주시면 됩니다.

In [3]:
insert_training_file_name = 'Feature_matrix/new_df_dd_and_breif_fl_n_dd_n_fl_n_company_201808081819.csv' #here!!

### 아래서부터는 건드시지 않으셔도 됩니다.

In [4]:
train_df = pd.read_csv(str(insert_training_file_name))

In [5]:
train_df.tail()

,VisitNumber,TripType,Return,1-HR PHOTO,ACCESSORIES,AUTOMOTIVE,BAKERY,BATH AND SHOWER,BEAUTY,BEDDING,...,8013.0,9640.0,7554.0,8304.0,9800.0,9912.0,Scancount_total,N_DD,N_FL,N_COMPANY
95669,191343,25,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,9,3,5,6
95670,191344,22,0,0,0,0,0,0,4,0,...,0,0,0,0,0,0,5,2,3,4
95671,191345,39,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,17,8,12,11
95672,191346,39,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,17,8,16,13
95673,191347,8,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2,2,2,2

## Split DataFrame into X , y

In [6]:
train_X , train_y = get_df_to_fit(train_df)

In [7]:
train_X.tail()

,Return,1-HR PHOTO,ACCESSORIES,AUTOMOTIVE,BAKERY,BATH AND SHOWER,BEAUTY,BEDDING,BOOKS AND MAGAZINES,BOYS WEAR,...,8013.0,9640.0,7554.0,8304.0,9800.0,9912.0,Scancount_total,N_DD,N_FL,N_COMPANY
95669,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,9,3,5,6
95670,0,0,0,0,0,0,4,0,0,0,...,0,0,0,0,0,0,5,2,3,4
95671,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,17,8,12,11
95672,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,17,8,16,13
95673,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2,2,2,2

In [8]:
train_y.tail()

95669    25
95670    22
95671    39
95672    39
95673     8
Name: TripType, dtype: int64

## Logistic Regression
- 시간이 좀 걸립니다.

In [9]:
if logistic:
    logis_model = LogisticRegression().fit(train_X , train_y)
    print("Logistic Regression's accuracy score: ",accuracy_score(train_y,logis_model.predict(train_X)))

## Multinomial Naive Bayes
- negative_value가 있으면 작동을 하지 않습니다.

In [10]:
if multi:
    Multi_model = MultinomialNB().fit(train_X,train_y)
    print("Multinomial Naive's accuracy score: ",accuracy_score(train_y,Multi_model.predict(train_X)))

## Ensemble
- Random forest, Extra Tree
- 그리드 서치 이후, 값을 반환하기 때문에 시간이 소요됩니다.
- n_jobs = -1 으로 설정되어 있기 때문에, 컴퓨터가 느려질 수 있습니다.

## RandomForest

In [11]:
parameters = {'n_estimators':np.arange(1,100,10),'max_depth':np.arange(1,20,5)}
kfold = KFold(10)

In [12]:
if random:
    random_model = RandomForestClassifier(random_state=0)
    grid_model1 = GridSearchCV(random_model,parameters,scoring='accuracy',cv=kfold,n_jobs=-1)
    grid_model1.fit(train_X,train_y)
    params_ls1 = grid_model1.cv_results_['params']
    mean_test_score_ls1 = grid_model1.cv_results_["mean_test_score"]
    plt.plot(mean_test_score_ls1)
    print(grid_model1.best_score_)
    print(grid_model1.best_params_)

## ExtraRandomForest

In [13]:
if extra:
    extra_model = ExtraTreesClassifier(random_state=0)
    grid_model2 = GridSearchCV(extra_model,parameters,scoring='accuracy',cv=kfold,n_jobs=-1)
    grid_model2.fit(train_X,train_y)
    params_ls2 = grid_model2.cv_results_['params']
    mean_test_score_ls2 = grid_model2.cv_results_["mean_test_score"]
    plt.plot(mean_test_score_ls2)
    print(grid_model2.best_score_)
    print(grid_model2.best_params_)

## Support Vector Machine

In [14]:
if svc:
    svc_model = SVC(kernel='rbf',random_state=0).fit(train_X,train_y)
    print("Kernel Support Vector Machine's Accuracy score: ",\
          train_y,accuracy_score(svc_model.predict(train_X)))

## Xgboost

In [15]:
import xgboost as xgb
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
label_enc = LabelEncoder().fit(train_y)
y_labeled = label_enc.transform(train_y)

In [16]:
train_X, test_X, train_y, test_y = train_test_split(train_X, y_labeled, random_state=0)

In [18]:
from scipy.sparse import csr_matrix

In [19]:
csr_train = csr_matrix(train_X.values)
csr_test = csr_matrix(test_X.values)

In [20]:
if xgboost:
    dtrain = xgb.DMatrix(csr_train, label=train_y)
    dtest = xgb.DMatrix(csr_test, label=test_y)
    num_boost_round = 300
    params = {'objective': 'multi:softprob', 
              'eval_metric': 'mlogloss',
              'num_class':38, 
              'max_delta_step': 3, 
              'eta': 0.2}

    evals = [(dtrain, 'train'), (dtest, 'eval')]

    bst = xgb.train(params=params,  
                    dtrain=dtrain, 
                    num_boost_round=num_boost_round, 
                    evals=evals,
                    early_stopping_rounds=10,)

[0]	train-mlogloss:3.07041	eval-mlogloss:3.08026
Multiple eval metrics have been passed: 'eval-mlogloss' will be used for early stopping.

Will train until eval-mlogloss hasn't improved in 10 rounds.
[1]	train-mlogloss:2.56319	eval-mlogloss:2.58572
[2]	train-mlogloss:2.16307	eval-mlogloss:2.19832
[3]	train-mlogloss:1.87504	eval-mlogloss:1.91994
[4]	train-mlogloss:1.68335	eval-mlogloss:1.73482
[5]	train-mlogloss:1.53963	eval-mlogloss:1.59906
[6]	train-mlogloss:1.42763	eval-mlogloss:1.49329
[7]	train-mlogloss:1.33763	eval-mlogloss:1.40843
[8]	train-mlogloss:1.26226	eval-mlogloss:1.33877
[9]	train-mlogloss:1.19952	eval-mlogloss:1.2804
[10]	train-mlogloss:1.14528	eval-mlogloss:1.23085
[11]	train-mlogloss:1.10012	eval-mlogloss:1.18984
[12]	train-mlogloss:1.06069	eval-mlogloss:1.15489
[13]	train-mlogloss:1.02673	eval-mlogloss:1.1251
[14]	train-mlogloss:0.996359	eval-mlogloss:1.09846
[15]	train-mlogloss:0.969995	eval-mlogloss:1.07585
[16]	train-mlogloss:0.94653	eval-mlogloss:1.05582
[17]	train-mlogloss:0.925422	eval-mlogloss:1.03857
[18]	train-mlogloss:0.906815	eval-mlogloss:1.02332
[19]	train-mlogloss:0.8898	eval-mlogloss:1.00971
[20]	train-mlogloss:0.874398	eval-mlogloss:0.997565
[21]	train-mlogloss:0.860065	eval-mlogloss:0.986633
[22]	train-mlogloss:0.847017	eval-mlogloss:0.976958
[23]	train-mlogloss:0.8354	eval-mlogloss:0.968274
[24]	train-mlogloss:0.824489	eval-mlogloss:0.960377
[25]	train-mlogloss:0.814214	eval-mlogloss:0.953102
[26]	train-mlogloss:0.804852	eval-mlogloss:0.94662
[27]	train-mlogloss:0.795929	eval-mlogloss:0.940133
[28]	train-mlogloss:0.787658	eval-mlogloss:0.934747
[29]	train-mlogloss:0.779973	eval-mlogloss:0.93007
[30]	train-mlogloss:0.772816	eval-mlogloss:0.925385
[31]	train-mlogloss:0.765323	eval-mlogloss:0.920976
[32]	train-mlogloss:0.758806	eval-mlogloss:0.917068
[33]	train-mlogloss:0.752968	eval-mlogloss:0.913651
[34]	train-mlogloss:0.747002	eval-mlogloss:0.910852
[35]	train-mlogloss:0.741156	eval-mlogloss:0.907921
[36]	train-mlogloss:0.736049	eval-mlogloss:0.90527
[37]	train-mlogloss:0.730978	eval-mlogloss:0.902811
[38]	train-mlogloss:0.726176	eval-mlogloss:0.900657
[39]	train-mlogloss:0.721464	eval-mlogloss:0.89856
[40]	train-mlogloss:0.717093	eval-mlogloss:0.89656
[41]	train-mlogloss:0.712825	eval-mlogloss:0.89476
[42]	train-mlogloss:0.708979	eval-mlogloss:0.892851
[43]	train-mlogloss:0.705157	eval-mlogloss:0.891264
[44]	train-mlogloss:0.701465	eval-mlogloss:0.889531
[45]	train-mlogloss:0.697961	eval-mlogloss:0.888014
[46]	train-mlogloss:0.694588	eval-mlogloss:0.886596
[47]	train-mlogloss:0.691543	eval-mlogloss:0.885426
[48]	train-mlogloss:0.688363	eval-mlogloss:0.884153
[49]	train-mlogloss:0.68523	eval-mlogloss:0.882915
[50]	train-mlogloss:0.682538	eval-mlogloss:0.881724
[51]	train-mlogloss:0.679409	eval-mlogloss:0.880794
[52]	train-mlogloss:0.676696	eval-mlogloss:0.879991
[53]	train-mlogloss:0.673934	eval-mlogloss:0.878914
[54]	train-mlogloss:0.671062	eval-mlogloss:0.877983
[55]	train-mlogloss:0.668348	eval-mlogloss:0.877151
[56]	train-mlogloss:0.665746	eval-mlogloss:0.876401
[57]	train-mlogloss:0.663309	eval-mlogloss:0.875519
[58]	train-mlogloss:0.660782	eval-mlogloss:0.874756
[59]	train-mlogloss:0.658371	eval-mlogloss:0.874183
[60]	train-mlogloss:0.656162	eval-mlogloss:0.873593
[61]	train-mlogloss:0.653769	eval-mlogloss:0.872951
[62]	train-mlogloss:0.651332	eval-mlogloss:0.872264
[63]	train-mlogloss:0.649165	eval-mlogloss:0.871694
[64]	train-mlogloss:0.64705	eval-mlogloss:0.87127
[65]	train-mlogloss:0.644809	eval-mlogloss:0.870837
[66]	train-mlogloss:0.642787	eval-mlogloss:0.870355
[67]	train-mlogloss:0.640977	eval-mlogloss:0.869897
[68]	train-mlogloss:0.638994	eval-mlogloss:0.869351
[69]	train-mlogloss:0.63688	eval-mlogloss:0.869072
[70]	train-mlogloss:0.634772	eval-mlogloss:0.868532
[71]	train-mlogloss:0.63299	eval-mlogloss:0.868166
[72]	train-mlogloss:0.631062	eval-mlogloss:0.867589
[73]	train-mlogloss:0.629046	eval-mlogloss:0.867258
[74]	train-mlogloss:0.627366	eval-mlogloss:0.866739
[75]	train-mlogloss:0.625727	eval-mlogloss:0.866482
[76]	train-mlogloss:0.623984	eval-mlogloss:0.866255
[77]	train-mlogloss:0.622253	eval-mlogloss:0.865964
[78]	train-mlogloss:0.62051	eval-mlogloss:0.865504
[79]	train-mlogloss:0.61883	eval-mlogloss:0.865006
[80]	train-mlogloss:0.617039	eval-mlogloss:0.864877
[81]	train-mlogloss:0.615428	eval-mlogloss:0.864526
[82]	train-mlogloss:0.613768	eval-mlogloss:0.864222
[83]	train-mlogloss:0.612297	eval-mlogloss:0.864018
[84]	train-mlogloss:0.610772	eval-mlogloss:0.863788
[85]	train-mlogloss:0.609122	eval-mlogloss:0.863445
[86]	train-mlogloss:0.607514	eval-mlogloss:0.863172
[87]	train-mlogloss:0.606051	eval-mlogloss:0.862942
[88]	train-mlogloss:0.604632	eval-mlogloss:0.86287
[89]	train-mlogloss:0.603094	eval-mlogloss:0.862727
[90]	train-mlogloss:0.601489	eval-mlogloss:0.862593
[91]	train-mlogloss:0.600153	eval-mlogloss:0.862323
[92]	train-mlogloss:0.598585	eval-mlogloss:0.862055
[93]	train-mlogloss:0.597096	eval-mlogloss:0.861934
[94]	train-mlogloss:0.595708	eval-mlogloss:0.861797
[95]	train-mlogloss:0.594119	eval-mlogloss:0.86139
[96]	train-mlogloss:0.59267	eval-mlogloss:0.861344
[97]	train-mlogloss:0.591338	eval-mlogloss:0.861323
[98]	train-mlogloss:0.59024	eval-mlogloss:0.861224
[99]	train-mlogloss:0.588827	eval-mlogloss:0.86097
[100]	train-mlogloss:0.587459	eval-mlogloss:0.860798
[101]	train-mlogloss:0.585873	eval-mlogloss:0.860607
[102]	train-mlogloss:0.58446	eval-mlogloss:0.860436
[103]	train-mlogloss:0.583199	eval-mlogloss:0.860252
[104]	train-mlogloss:0.581925	eval-mlogloss:0.860175
[105]	train-mlogloss:0.58083	eval-mlogloss:0.860183
[106]	train-mlogloss:0.579713	eval-mlogloss:0.860098
[107]	train-mlogloss:0.578445	eval-mlogloss:0.86007
[108]	train-mlogloss:0.576879	eval-mlogloss:0.859842
[109]	train-mlogloss:0.575715	eval-mlogloss:0.85972
[110]	train-mlogloss:0.574412	eval-mlogloss:0.859658
[111]	train-mlogloss:0.573153	eval-mlogloss:0.859727
[112]	train-mlogloss:0.571829	eval-mlogloss:0.859599
[113]	train-mlogloss:0.570833	eval-mlogloss:0.859599
[114]	train-mlogloss:0.569748	eval-mlogloss:0.859467
[115]	train-mlogloss:0.568556	eval-mlogloss:0.859355
[116]	train-mlogloss:0.567505	eval-mlogloss:0.859297
[117]	train-mlogloss:0.566397	eval-mlogloss:0.85929
[118]	train-mlogloss:0.565196	eval-mlogloss:0.859437
[119]	train-mlogloss:0.563939	eval-mlogloss:0.859362
[120]	train-mlogloss:0.562817	eval-mlogloss:0.859433
[121]	train-mlogloss:0.56174	eval-mlogloss:0.859442
[122]	train-mlogloss:0.560597	eval-mlogloss:0.859418
[123]	train-mlogloss:0.559585	eval-mlogloss:0.859389
[124]	train-mlogloss:0.558514	eval-mlogloss:0.859484
[125]	train-mlogloss:0.557371	eval-mlogloss:0.859466
[126]	train-mlogloss:0.556411	eval-mlogloss:0.859435
[127]	train-mlogloss:0.55541	eval-mlogloss:0.859517
Stopping. Best iteration:
[117]	train-mlogloss:0.566397	eval-mlogloss:0.85929

# dd와 fl 63개 그리고 scan total count(dd기준) 0.87