In [1]:
import numpy as np
import pandas as pd
from awesome_functions import *
import warnings
warnings.simplefilter('ignore')
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import classification_report , accuracy_score ,log_loss
from sklearn.ensemble import RandomForestClassifier , ExtraTreesClassifier
from sklearn.model_selection import GridSearchCV , KFold
from sklearn.svm import SVC
import xgboost as xgb

## 시행할 모델링을 선택해주세요 원하시지 않으면 `False` 로 처리해주세요

In [2]:
logistic = True
multi = True
random = False # 그리드서치로 인해 시간이 많이 소요됩니다.
extra = False # 그리드서치로 인해 시간이 많이 소요됩니다.
svc = False # 기본적으로 시간이 많이 소요됩니다.
xgboost = True

## 경로를 포함한 파일이름을 넣어주시면 됩니다.

In [3]:
insert_training_file_name = 'Feature_matrix/new_df_dd_and_breif_fl_n_dd_n_fl_n_company_n_upc_201808081841.csv' #here!!

### 아래서부터는 건드시지 않으셔도 됩니다.

In [4]:
train_df = pd.read_csv(str(insert_training_file_name))

In [5]:
train_df.tail()

,VisitNumber,TripType,Return,1-HR PHOTO,ACCESSORIES,AUTOMOTIVE,BAKERY,BATH AND SHOWER,BEAUTY,BEDDING,...,9640.0,7554.0,8304.0,9800.0,9912.0,Scancount_total,N_DD,N_FL,N_COMPANY,N_UPC
95669,191343,25,0,0,0,0,0,0,0,0,...,0,0,0,0,0,9,3,5,6,7
95670,191344,22,0,0,0,0,0,0,4,0,...,0,0,0,0,0,5,2,3,4,5
95671,191345,39,0,0,0,0,0,0,1,0,...,0,0,0,0,0,17,8,12,11,13
95672,191346,39,0,0,0,0,0,0,0,0,...,0,0,0,0,0,17,8,16,13,17
95673,191347,8,0,0,0,0,0,0,0,0,...,0,0,0,0,0,2,2,2,2,2

## Split DataFrame into X , y

In [6]:
train_X , train_y = get_df_to_fit(train_df)

In [7]:
train_X.tail()

,Return,1-HR PHOTO,ACCESSORIES,AUTOMOTIVE,BAKERY,BATH AND SHOWER,BEAUTY,BEDDING,BOOKS AND MAGAZINES,BOYS WEAR,...,9640.0,7554.0,8304.0,9800.0,9912.0,Scancount_total,N_DD,N_FL,N_COMPANY,N_UPC
95669,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,9,3,5,6,7
95670,0,0,0,0,0,0,4,0,0,0,...,0,0,0,0,0,5,2,3,4,5
95671,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,17,8,12,11,13
95672,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,17,8,16,13,17
95673,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,2,2,2,2,2

In [8]:
train_y.tail()

95669    25
95670    22
95671    39
95672    39
95673     8
Name: TripType, dtype: int64

## Logistic Regression
- 시간이 좀 걸립니다.

In [9]:
if logistic:
    logis_model = LogisticRegression().fit(train_X , train_y)
    print("Logistic Regression's accuracy score: ",accuracy_score(train_y,logis_model.predict(train_X)))

Logistic Regression's accuracy score:  0.6684992788009282

## Multinomial Naive Bayes
- negative_value가 있으면 작동을 하지 않습니다.

In [10]:
if multi:
    Multi_model = MultinomialNB().fit(train_X,train_y)
    print("Multinomial Naive's accuracy score: ",accuracy_score(train_y,Multi_model.predict(train_X)))

Multinomial Naive's accuracy score:  0.5899931015740953

## Ensemble
- Random forest, Extra Tree
- 그리드 서치 이후, 값을 반환하기 때문에 시간이 소요됩니다.
- n_jobs = -1 으로 설정되어 있기 때문에, 컴퓨터가 느려질 수 있습니다.

## RandomForest

In [11]:
parameters = {'n_estimators':np.arange(1,100,10),'max_depth':np.arange(1,20,5)}
kfold = KFold(10)

In [12]:
if random:
    random_model = RandomForestClassifier(random_state=0)
    grid_model1 = GridSearchCV(random_model,parameters,scoring='accuracy',cv=kfold,n_jobs=-1)
    grid_model1.fit(train_X,train_y)
    params_ls1 = grid_model1.cv_results_['params']
    mean_test_score_ls1 = grid_model1.cv_results_["mean_test_score"]
    plt.plot(mean_test_score_ls1)
    print(grid_model1.best_score_)
    print(grid_model1.best_params_)

## ExtraRandomForest

In [13]:
if extra:
    extra_model = ExtraTreesClassifier(random_state=0)
    grid_model2 = GridSearchCV(extra_model,parameters,scoring='accuracy',cv=kfold,n_jobs=-1)
    grid_model2.fit(train_X,train_y)
    params_ls2 = grid_model2.cv_results_['params']
    mean_test_score_ls2 = grid_model2.cv_results_["mean_test_score"]
    plt.plot(mean_test_score_ls2)
    print(grid_model2.best_score_)
    print(grid_model2.best_params_)

## Support Vector Machine

In [14]:
if svc:
    svc_model = SVC(kernel='rbf',random_state=0).fit(train_X,train_y)
    print("Kernel Support Vector Machine's Accuracy score: ",\
          train_y,accuracy_score(svc_model.predict(train_X)))

## Xgboost

In [15]:
import xgboost as xgb
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
label_enc = LabelEncoder().fit(train_y)
y_labeled = label_enc.transform(train_y)

In [16]:
train_X, test_X, train_y, test_y = train_test_split(train_X, y_labeled, random_state=0)

In [17]:
if xgboost:
    dtrain = xgb.DMatrix(train_X.values, label=train_y)
    dtest = xgb.DMatrix(test_X.values, label=test_y)
    num_boost_round = 300
    params = {'objective': 'multi:softprob', 
              'eval_metric': 'mlogloss',
              'num_class':38, 
              'max_delta_step': 3, 
              'eta': 0.2}

    evals = [(dtrain, 'train'), (dtest, 'eval')]

    bst = xgb.train(params=params,  
                    dtrain=dtrain, 
                    num_boost_round=num_boost_round, 
                    evals=evals,
                    early_stopping_rounds=10,)

[0]	train-mlogloss:3.07134	eval-mlogloss:3.08014
Multiple eval metrics have been passed: 'eval-mlogloss' will be used for early stopping.

Will train until eval-mlogloss hasn't improved in 10 rounds.
[1]	train-mlogloss:2.56501	eval-mlogloss:2.58607
[2]	train-mlogloss:2.16771	eval-mlogloss:2.20016
[3]	train-mlogloss:1.88095	eval-mlogloss:1.92273
[4]	train-mlogloss:1.68865	eval-mlogloss:1.73809
[5]	train-mlogloss:1.5461	eval-mlogloss:1.60137
[6]	train-mlogloss:1.43463	eval-mlogloss:1.49504
[7]	train-mlogloss:1.34488	eval-mlogloss:1.4105
[8]	train-mlogloss:1.26889	eval-mlogloss:1.33981
[9]	train-mlogloss:1.2059	eval-mlogloss:1.28129
[10]	train-mlogloss:1.15241	eval-mlogloss:1.23183
[11]	train-mlogloss:1.10683	eval-mlogloss:1.19062
[12]	train-mlogloss:1.06769	eval-mlogloss:1.15556
[13]	train-mlogloss:1.03313	eval-mlogloss:1.12506
[14]	train-mlogloss:1.0032	eval-mlogloss:1.09886
[15]	train-mlogloss:0.976721	eval-mlogloss:1.07607
[16]	train-mlogloss:0.953	eval-mlogloss:1.05561
[17]	train-mlogloss:0.93205	eval-mlogloss:1.03789
[18]	train-mlogloss:0.913161	eval-mlogloss:1.02235
[19]	train-mlogloss:0.895979	eval-mlogloss:1.00843
[20]	train-mlogloss:0.880805	eval-mlogloss:0.996274
[21]	train-mlogloss:0.866618	eval-mlogloss:0.985169
[22]	train-mlogloss:0.853735	eval-mlogloss:0.975208
[23]	train-mlogloss:0.841825	eval-mlogloss:0.965827
[24]	train-mlogloss:0.830819	eval-mlogloss:0.9576
[25]	train-mlogloss:0.820575	eval-mlogloss:0.950153
[26]	train-mlogloss:0.811341	eval-mlogloss:0.943815
[27]	train-mlogloss:0.802646	eval-mlogloss:0.937827
[28]	train-mlogloss:0.79394	eval-mlogloss:0.931895
[29]	train-mlogloss:0.786464	eval-mlogloss:0.926912
[30]	train-mlogloss:0.779237	eval-mlogloss:0.922329
[31]	train-mlogloss:0.771989	eval-mlogloss:0.917841
[32]	train-mlogloss:0.76577	eval-mlogloss:0.914006
[33]	train-mlogloss:0.75958	eval-mlogloss:0.910287
[34]	train-mlogloss:0.753894	eval-mlogloss:0.907062
[35]	train-mlogloss:0.748665	eval-mlogloss:0.90424
[36]	train-mlogloss:0.743535	eval-mlogloss:0.90153
[37]	train-mlogloss:0.738395	eval-mlogloss:0.89862
[38]	train-mlogloss:0.733592	eval-mlogloss:0.896212
[39]	train-mlogloss:0.729121	eval-mlogloss:0.893978
[40]	train-mlogloss:0.725002	eval-mlogloss:0.891887
[41]	train-mlogloss:0.720753	eval-mlogloss:0.889934
[42]	train-mlogloss:0.716914	eval-mlogloss:0.888086
[43]	train-mlogloss:0.712817	eval-mlogloss:0.886506
[44]	train-mlogloss:0.708937	eval-mlogloss:0.884799
[45]	train-mlogloss:0.705621	eval-mlogloss:0.883428
[46]	train-mlogloss:0.702259	eval-mlogloss:0.88201
[47]	train-mlogloss:0.698832	eval-mlogloss:0.880595
[48]	train-mlogloss:0.695613	eval-mlogloss:0.879404
[49]	train-mlogloss:0.69262	eval-mlogloss:0.878324
[50]	train-mlogloss:0.689613	eval-mlogloss:0.877136
[51]	train-mlogloss:0.686538	eval-mlogloss:0.876079
[52]	train-mlogloss:0.683814	eval-mlogloss:0.874992
[53]	train-mlogloss:0.681072	eval-mlogloss:0.873971
[54]	train-mlogloss:0.678475	eval-mlogloss:0.873018
[55]	train-mlogloss:0.67566	eval-mlogloss:0.872126
[56]	train-mlogloss:0.673113	eval-mlogloss:0.871442
[57]	train-mlogloss:0.670517	eval-mlogloss:0.87042
[58]	train-mlogloss:0.668021	eval-mlogloss:0.869702
[59]	train-mlogloss:0.665496	eval-mlogloss:0.868997
[60]	train-mlogloss:0.663208	eval-mlogloss:0.868422
[61]	train-mlogloss:0.661047	eval-mlogloss:0.86773
[62]	train-mlogloss:0.658686	eval-mlogloss:0.867095
[63]	train-mlogloss:0.656489	eval-mlogloss:0.866498
[64]	train-mlogloss:0.65409	eval-mlogloss:0.865787
[65]	train-mlogloss:0.652005	eval-mlogloss:0.865213
[66]	train-mlogloss:0.649868	eval-mlogloss:0.864628
[67]	train-mlogloss:0.647784	eval-mlogloss:0.863838
[68]	train-mlogloss:0.645961	eval-mlogloss:0.863337
[69]	train-mlogloss:0.644021	eval-mlogloss:0.863027
[70]	train-mlogloss:0.642238	eval-mlogloss:0.862504
[71]	train-mlogloss:0.640345	eval-mlogloss:0.862213
[72]	train-mlogloss:0.638651	eval-mlogloss:0.861684
[73]	train-mlogloss:0.636911	eval-mlogloss:0.861203
[74]	train-mlogloss:0.635047	eval-mlogloss:0.860772
[75]	train-mlogloss:0.633192	eval-mlogloss:0.860332
[76]	train-mlogloss:0.631593	eval-mlogloss:0.860174
[77]	train-mlogloss:0.629973	eval-mlogloss:0.859757
[78]	train-mlogloss:0.628157	eval-mlogloss:0.859321
[79]	train-mlogloss:0.6264	eval-mlogloss:0.858836
[80]	train-mlogloss:0.62455	eval-mlogloss:0.858571
[81]	train-mlogloss:0.622903	eval-mlogloss:0.858214
[82]	train-mlogloss:0.621445	eval-mlogloss:0.858063
[83]	train-mlogloss:0.619877	eval-mlogloss:0.857844
[84]	train-mlogloss:0.618312	eval-mlogloss:0.857599
[85]	train-mlogloss:0.616664	eval-mlogloss:0.857312
[86]	train-mlogloss:0.61526	eval-mlogloss:0.857153
[87]	train-mlogloss:0.613922	eval-mlogloss:0.856987
[88]	train-mlogloss:0.612245	eval-mlogloss:0.856565
[89]	train-mlogloss:0.610757	eval-mlogloss:0.856358
[90]	train-mlogloss:0.609018	eval-mlogloss:0.856119
[91]	train-mlogloss:0.607501	eval-mlogloss:0.85591
[92]	train-mlogloss:0.60603	eval-mlogloss:0.85559
[93]	train-mlogloss:0.604572	eval-mlogloss:0.855473
[94]	train-mlogloss:0.603291	eval-mlogloss:0.855366
[95]	train-mlogloss:0.602027	eval-mlogloss:0.855264
[96]	train-mlogloss:0.600719	eval-mlogloss:0.855182
[97]	train-mlogloss:0.599417	eval-mlogloss:0.854988
[98]	train-mlogloss:0.598094	eval-mlogloss:0.854736
[99]	train-mlogloss:0.596612	eval-mlogloss:0.85458
[100]	train-mlogloss:0.595179	eval-mlogloss:0.854483
[101]	train-mlogloss:0.593867	eval-mlogloss:0.854428
[102]	train-mlogloss:0.592568	eval-mlogloss:0.854196
[103]	train-mlogloss:0.591334	eval-mlogloss:0.85404
[104]	train-mlogloss:0.589874	eval-mlogloss:0.853936
[105]	train-mlogloss:0.588367	eval-mlogloss:0.85369
[106]	train-mlogloss:0.586996	eval-mlogloss:0.85348
[107]	train-mlogloss:0.58586	eval-mlogloss:0.853378
[108]	train-mlogloss:0.584792	eval-mlogloss:0.853258
[109]	train-mlogloss:0.583656	eval-mlogloss:0.853262
[110]	train-mlogloss:0.582596	eval-mlogloss:0.853203
[111]	train-mlogloss:0.581387	eval-mlogloss:0.853238
[112]	train-mlogloss:0.580261	eval-mlogloss:0.853152
[113]	train-mlogloss:0.578906	eval-mlogloss:0.853037
[114]	train-mlogloss:0.577755	eval-mlogloss:0.852911
[115]	train-mlogloss:0.576556	eval-mlogloss:0.852914
[116]	train-mlogloss:0.575347	eval-mlogloss:0.852908
[117]	train-mlogloss:0.574174	eval-mlogloss:0.852786
[118]	train-mlogloss:0.573034	eval-mlogloss:0.852693
[119]	train-mlogloss:0.572015	eval-mlogloss:0.85264
[120]	train-mlogloss:0.571024	eval-mlogloss:0.852428
[121]	train-mlogloss:0.570199	eval-mlogloss:0.852382
[122]	train-mlogloss:0.569137	eval-mlogloss:0.852501
[123]	train-mlogloss:0.568188	eval-mlogloss:0.852484
[124]	train-mlogloss:0.567121	eval-mlogloss:0.852416
[125]	train-mlogloss:0.566157	eval-mlogloss:0.852414
[126]	train-mlogloss:0.565153	eval-mlogloss:0.852439
[127]	train-mlogloss:0.564008	eval-mlogloss:0.85258
[128]	train-mlogloss:0.563028	eval-mlogloss:0.852625
[129]	train-mlogloss:0.561935	eval-mlogloss:0.852606
[130]	train-mlogloss:0.560822	eval-mlogloss:0.852607
[131]	train-mlogloss:0.559745	eval-mlogloss:0.852666
Stopping. Best iteration:
[121]	train-mlogloss:0.570199	eval-mlogloss:0.852382

# dd와 fl 63개 그리고 scan total count(dd기준) 0.87