In [1]:
# Import the functions used in this project
import awesome_functions as af

# Pretty display for notebooks
%matplotlib inline

# Ignore the warnings
import warnings
warnings.filterwarnings('ignore')

# Load the dataset
train = pd.read_csv("../asset/train.csv")
test = pd.read_csv("../asset/test.csv")
submission = pd.read_csv("../asset/sample_submission.csv")

# Success - Display the first record
print("Train data : ", train.shape)
print("Test  data : ", test.shape)
print("submission  data : ", submission.shape)

from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
import pickle as pkl
slack_url = pkl.load(open("Slack_url/send_url.pickle", "rb"))

import xgboost

# 원본을 유지하기 위해서 카피
df_train = train.copy()
df_test = test.copy()
df_submission = submission.copy()

Train data :  (647054, 7)
Test  data :  (653646, 6)
submission  data :  (95674, 39)

In [2]:
df_train.Upc = df_train.Upc.astype(str)

In [3]:
df_train.Upc = df_train.Upc.apply(lambda a : a.split(".")[0] if a != "nan" else "000000000000")

In [24]:
df_train.Upc = df_train.Upc.apply(lambda a : a[:-6])

In [6]:
df_train["Upc_length"] =  df_train.Upc.apply(lambda a : len(a))

In [8]:
df_train.drop(["DepartmentDescription", "FinelineNumber", "Weekday"], axis = 1, inplace = True)

In [11]:
tmp_1 = df_train.groupby(["VisitNumber", "Upc"]).agg({"ScanCount" : np.sum})

In [14]:
tmp_1  = tmp_1.reset_index()

In [15]:
upc_li = []
scancount_li = []
for i, vn in enumerate(tmp_1.VisitNumber.unique()):
    tmp_df = tmp_1[tmp_1.VisitNumber == vn]
    max_count = tmp_df["ScanCount"].max()
    upc = tmp_df[tmp_df["ScanCount"] == max_count]["Upc"].values[0]
    upc_li.append(upc)
    scancount_li.append(max_count)
    if i % 5000 == 0:
        print(str(i) + "까지 진행됨")

0까지 진행됨
5000까지 진행됨
10000까지 진행됨
15000까지 진행됨
20000까지 진행됨
25000까지 진행됨
30000까지 진행됨
35000까지 진행됨
40000까지 진행됨
45000까지 진행됨
50000까지 진행됨
55000까지 진행됨
60000까지 진행됨
65000까지 진행됨
70000까지 진행됨
75000까지 진행됨
80000까지 진행됨
85000까지 진행됨
90000까지 진행됨
95000까지 진행됨

In [20]:
df_train_dd = pd.read_csv("Feature_matrix/df_train_dd_201807291831.csv")

In [50]:
df_mf_upc_sc = pd.DataFrame({"MF_Upc" : upc_li, "ScanCount" : scancount_li})

In [52]:
af.saveDataFrameToCsv(df_mf_upc_sc, "df_mf_upc_sc")

In [21]:
cols = ["VisitNumber", "TripType"]
df_new_upc = pd.concat([df_train_dd[cols], df_mf_upc_sc], axis = 1)

In [32]:
df_new_upc["Upc_len"] = df_new_upc["MF_Upc"].apply(lambda a : len(a))

In [29]:
df_new_upc["MF_Upc"] = df_new_upc["MF_Upc"].apply(lambda a : a if len(a) >= 8 else "777777777777")

In [34]:
df_new_upc["MF_Company"] = df_new_upc["MF_Upc"].apply(lambda a : a[:-6])

In [38]:
np_upc_li = np.array(upc_li)

In [46]:
np_upc_li = np_upc_li.astype(int)

In [53]:
af.saveDataFrameToCsv(df_new_upc, "df_new_upc")

In [33]:
df_new_upc.groupby("Upc_len").size().reset_index(name="Count")

   Upc_len  Count
0        8     49
1        9    171
2       10  62852
3       11  27515
4       12   5087

In [126]:
sc_total = pd.read_csv("Feature_matrix/scancount_total_201808012316.csv")

In [9]:
df_train_ = df_train.copy()

In [10]:
df_train_["FinelineNumber"] = df_train_["FinelineNumber"].astype(str)

In [11]:
df_train_["FinelineNumber"] = df_train_["FinelineNumber"].apply(lambda a : a.split(".")[0] if a != "nan" else "000000000000")

In [12]:
tmp_1 = df_train_.groupby(["VisitNumber", "FinelineNumber"]).agg({"ScanCount" : np.sum})

In [13]:
tmp_1  = tmp_1.reset_index()

In [14]:
fn_li = []
scancount_li = []
for i, vn in enumerate(tmp_1.VisitNumber.unique()):
    tmp_df = tmp_1[tmp_1.VisitNumber == vn]
    max_count = tmp_df["ScanCount"].max()
    fineline = tmp_df[tmp_df["ScanCount"] == max_count]["FinelineNumber"].values[0]
    fn_li.append(fineline)
    scancount_li.append(max_count)
    if i % 5000 == 0:
        print(str(i) + "까지 진행됨")

0까지 진행됨
5000까지 진행됨
10000까지 진행됨
15000까지 진행됨
20000까지 진행됨
25000까지 진행됨
30000까지 진행됨
35000까지 진행됨
40000까지 진행됨
45000까지 진행됨
50000까지 진행됨
55000까지 진행됨
60000까지 진행됨
65000까지 진행됨
70000까지 진행됨
75000까지 진행됨
80000까지 진행됨
85000까지 진행됨
90000까지 진행됨
95000까지 진행됨

In [15]:
df_mf_sc = pd.DataFrame({"MF_FinelineNumber" : fn_li, "ScanCount" : scancount_li})

In [17]:
af.saveDataFrameToCsv(df_mf_sc, "df_mf_sc")

In [16]:
df_mf_sc

      MF_FinelineNumber  ScanCount
0                  1000         -1
1                  4504          1
2                  1017          5
3                   103          1
4                   115          1
5                   110          1
6                   203          1
7                   514          3
8                  3352          1
9                  8904          2
10                 4010          2
11                 3005          1
12                  222          1
13                 1450          6
14                 2010          2
15                 9205          1
16                 1180          1
17                 5024          1
18                  100          1
19                 3114          2
20                  611          2
21                 3114          2
22                  115          1
23                 1508          1
24                 1908          1
25                 3108          2
26                  110          1
27                 8218          1
28                  109          1
29                 1201          1
...                 ...        ...
95644              6211          2
95645              8960          3
95646              2110          1
95647                79          2
95648              3954          3
95649              1011          2
95650              3467          1
95651              1508          1
95652              1084          3
95653              1450          5
95654              1010          2
95655               145          1
95656               290          1
95657              1640          1
95658              4606          6
95659              2257          1
95660              1901          2
95661              2404          2
95662               251          3
95663              7301          2
95664              1015          1
95665              9189          1
95666              1120          1
95667               135          2
95668               100          1
95669              5701          3
95670              3405          3
95671              2764          2
95672              4639          2
95673              1512          1

[95674 rows x 2 columns]

In [18]:
cols = ["VisitNumber", "TripType"]

In [19]:
df_new = pd.concat([df_train_dd[cols], df_mf_sc], axis = 1)

In [2]:
sc_total = pd.read_csv("Feature_matrix/scancount_total_201808012316.csv")

In [21]:
df_new["Ratio"] = df_new["ScanCount"].div(sc_total.Total, axis = 0)

In [33]:
sc_total.loc[40265]

Total    1
Name: 40265, dtype: int64

In [34]:
df_train[df_train.VisitNumber == 80542]

,TripType,VisitNumber,Weekday,Upc,ScanCount,DepartmentDescription,FinelineNumber
270466,35,80542,Wednesday,8.768400e+09,1,DSD GROCERY,4624.0
270467,35,80542,Wednesday,8.768400e+09,-9,DSD GROCERY,4624.0
270468,35,80542,Wednesday,6.827474e+09,5,DSD GROCERY,2351.0
270469,35,80542,Wednesday,8.768400e+09,2,DSD GROCERY,4624.0
270470,35,80542,Wednesday,8.768400e+09,-1,DSD GROCERY,4624.0

In [40]:
sc_total = list(df_train.groupby("VisitNumber").sum()["ScanCount"].values)

In [41]:
sc_total

[-1,
 2,
 28,
 3,
 3,
 4,
 7,
 9,
 4,
 9,
 3,
 2,
 3,
 12,
 8,
 1,
 1,
 2,
 1,
 3,
 3,
 3,
 1,
 4,
 4,
 5,
 5,
 1,
 2,
 1,
 1,
 11,
 2,
 1,
 12,
 5,
 1,
 4,
 3,
 2,
 4,
 9,
 1,
 10,
 2,
 2,
 26,
 1,
 1,
 3,
 1,
 1,
 14,
 50,
 2,
 1,
 1,
 1,
 4,
 2,
 1,
 2,
 1,
 2,
 8,
 1,
 1,
 7,
 1,
 0,
 2,
 2,
 7,
 2,
 43,
 5,
 2,
 22,
 2,
 5,
 3,
 2,
 2,
 2,
 4,
 2,
 -1,
 4,
 1,
 2,
 -1,
 16,
 2,
 4,
 2,
 4,
 3,
 2,
 9,
 4,
 7,
 6,
 5,
 1,
 1,
 4,
 1,
 2,
 18,
 3,
 5,
 2,
 2,
 1,
 3,
 1,
 3,
 2,
 8,
 12,
 6,
 13,
 -1,
 55,
 1,
 2,
 15,
 -1,
 3,
 2,
 3,
 20,
 6,
 1,
 6,
 1,
 -1,
 30,
 1,
 6,
 2,
 35,
 1,
 1,
 2,
 5,
 1,
 1,
 2,
 9,
 3,
 2,
 1,
 3,
 3,
 5,
 21,
 4,
 -1,
 2,
 2,
 2,
 2,
 6,
 2,
 4,
 0,
 1,
 1,
 17,
 1,
 1,
 22,
 1,
 1,
 3,
 1,
 2,
 2,
 48,
 2,
 2,
 5,
 8,
 1,
 1,
 1,
 6,
 5,
 2,
 7,
 1,
 15,
 30,
 2,
 8,
 1,
 30,
 12,
 5,
 1,
 3,
 1,
 8,
 9,
 5,
 8,
 4,
 4,
 -1,
 3,
 -1,
 -1,
 9,
 -1,
 2,
 5,
 1,
 1,
 3,
 22,
 2,
 22,
 5,
 7,
 1,
 1,
 -1,
 6,
 2,
 1,
 4,
 2,
 15,
 2,
 7,
 5,
 4,
 4,
 5,
 2,
 5,
 3,
 6,
 4,
 4,
 10,
 1,
 10,
 4,
 5,
 -4,
 2,
 2,
 4,
 7,
 10,
 2,
 2,
 3,
 3,
 8,
 2,
 5,
 4,
 2,
 9,
 1,
 2,
 17,
 3,
 1,
 6,
 2,
 4,
 3,
 6,
 2,
 7,
 28,
 5,
 2,
 25,
 1,
 2,
 12,
 2,
 4,
 1,
 2,
 10,
 3,
 4,
 -2,
 2,
 11,
 1,
 3,
 0,
 -1,
 15,
 1,
 3,
 38,
 37,
 6,
 5,
 4,
 1,
 7,
 2,
 3,
 2,
 2,
 3,
 4,
 9,
 12,
 2,
 9,
 3,
 2,
 7,
 3,
 9,
 1,
 3,
 3,
 -1,
 2,
 3,
 2,
 2,
 3,
 -1,
 2,
 5,
 2,
 2,
 1,
 14,
 2,
 4,
 3,
 -1,
 0,
 6,
 6,
 5,
 14,
 -1,
 14,
 9,
 1,
 2,
 2,
 1,
 14,
 6,
 3,
 2,
 1,
 3,
 4,
 5,
 65,
 2,
 7,
 13,
 1,
 1,
 5,
 4,
 5,
 8,
 2,
 6,
 9,
 6,
 -1,
 1,
 5,
 3,
 6,
 1,
 3,
 -1,
 1,
 9,
 1,
 0,
 26,
 3,
 1,
 6,
 1,
 4,
 2,
 5,
 4,
 4,
 2,
 13,
 13,
 2,
 1,
 4,
 5,
 2,
 3,
 4,
 1,
 4,
 17,
 -2,
 10,
 2,
 1,
 6,
 6,
 1,
 2,
 4,
 3,
 9,
 1,
 4,
 2,
 2,
 2,
 2,
 10,
 3,
 7,
 24,
 2,
 1,
 1,
 12,
 1,
 -1,
 6,
 2,
 7,
 3,
 2,
 2,
 3,
 11,
 -1,
 3,
 18,
 21,
 1,
 4,
 3,
 1,
 1,
 2,
 20,
 7,
 12,
 -2,
 8,
 2,
 2,
 -1,
 3,
 2,
 5,
 2,
 2,
 3,
 3,
 0,
 1,
 1,
 1,
 10,
 6,
 9,
 9,
 1,
 -1,
 2,
 1,
 44,
 -3,
 1,
 11,
 3,
 21,
 11,
 1,
 1,
 2,
 3,
 3,
 1,
 2,
 11,
 22,
 13,
 6,
 9,
 -1,
 3,
 1,
 5,
 4,
 3,
 39,
 7,
 1,
 3,
 -1,
 10,
 4,
 1,
 3,
 2,
 11,
 14,
 6,
 2,
 3,
 11,
 12,
 -1,
 2,
 10,
 4,
 1,
 5,
 1,
 1,
 1,
 24,
 2,
 4,
 15,
 2,
 34,
 15,
 1,
 1,
 8,
 2,
 14,
 19,
 1,
 5,
 2,
 4,
 1,
 4,
 6,
 23,
 1,
 12,
 6,
 7,
 1,
 2,
 5,
 7,
 1,
 0,
 5,
 27,
 1,
 51,
 1,
 2,
 2,
 3,
 16,
 3,
 1,
 2,
 3,
 3,
 1,
 -1,
 1,
 14,
 5,
 2,
 2,
 18,
 1,
 17,
 1,
 8,
 35,
 5,
 1,
 4,
 22,
 2,
 4,
 1,
 11,
 1,
 10,
 1,
 2,
 24,
 22,
 11,
 -1,
 1,
 16,
 3,
 2,
 16,
 15,
 11,
 23,
 17,
 1,
 2,
 6,
 2,
 2,
 10,
 1,
 0,
 -1,
 12,
 1,
 2,
 3,
 15,
 1,
 2,
 2,
 4,
 2,
 3,
 2,
 23,
 2,
 7,
 9,
 2,
 -1,
 18,
 17,
 1,
 2,
 1,
 2,
 20,
 12,
 2,
 3,
 6,
 9,
 12,
 18,
 7,
 2,
 1,
 6,
 5,
 13,
 2,
 2,
 11,
 1,
 5,
 3,
 2,
 2,
 7,
 8,
 3,
 1,
 6,
 1,
 2,
 2,
 13,
 1,
 3,
 28,
 4,
 5,
 26,
 7,
 3,
 12,
 2,
 0,
 9,
 2,
 10,
 1,
 6,
 3,
 10,
 25,
 1,
 3,
 1,
 2,
 6,
 5,
 17,
 3,
 2,
 2,
 1,
 2,
 26,
 -1,
 15,
 1,
 1,
 49,
 3,
 -1,
 1,
 3,
 14,
 6,
 11,
 8,
 1,
 4,
 -1,
 10,
 2,
 9,
 2,
 6,
 4,
 2,
 4,
 3,
 4,
 2,
 0,
 0,
 4,
 5,
 10,
 1,
 1,
 2,
 3,
 2,
 8,
 4,
 2,
 1,
 1,
 9,
 2,
 2,
 11,
 1,
 3,
 2,
 7,
 1,
 -1,
 2,
 11,
 12,
 2,
 1,
 24,
 1,
 50,
 2,
 2,
 25,
 4,
 2,
 2,
 9,
 1,
 7,
 2,
 2,
 23,
 1,
 5,
 9,
 3,
 1,
 14,
 5,
 2,
 0,
 4,
 9,
 5,
 3,
 1,
 7,
 4,
 10,
 3,
 1,
 1,
 4,
 10,
 3,
 1,
 2,
 -1,
 8,
 3,
 7,
 1,
 4,
 3,
 6,
 3,
 1,
 2,
 24,
 27,
 37,
 4,
 33,
 2,
 4,
 5,
 3,
 6,
 4,
 3,
 1,
 28,
 3,
 38,
 15,
 19,
 1,
 1,
 26,
 2,
 1,
 6,
 1,
 9,
 2,
 25,
 8,
 5,
 2,
 -4,
 2,
 14,
 18,
 3,
 3,
 1,
 1,
 4,
 2,
 1,
 9,
 -9,
 -1,
 19,
 2,
 12,
 2,
 4,
 1,
 9,
 13,
 4,
 2,
 1,
 2,
 3,
 6,
 30,
 2,
 4,
 1,
 1,
 25,
 4,
 1,
 2,
 2,
 37,
 1,
 6,
 3,
 27,
 1,
 7,
 1,
 30,
 7,
 3,
 10,
 16,
 0,
 3,
 18,
 7,
 2,
 2,
 2,
 4,
 2,
 3,
 2,
 2,
 3,
 10,
 4,
 4,
 2,
 8,
 1,
 5,
 2,
 6,
 2,
 16,
 6,
 2,
 2,
 7,
 1,
 1,
 1,
 9,
 -1,
 0,
 3,
 5,
 5,
 9,
 -4,
 7,
 1,
 2,
 10,
 15,
 46,
 38,
 26,
 1,
 13,
 2,
 2,
 4,
 6,
 2,
 1,
 6,
 5,
 8,
 1,
 15,
 6,
 13,
 2,
 4,
 7,
 1,
 3,
 1,
 27,
 -1,
 7,
 5,
 5,
 1,
 3,
 13,
 1,
 8,
 24,
 0,
 11,
 4,
 1,
 1,
 6,
 6,
 6,
 8,
 2,
 6,
 1,
 0,
 24,
 2,
 ...]

In [42]:
df_new = df_new.drop("Ratio", axis = 1)

In [44]:
df_new["Total"] = sc_total

In [46]:
df_new["Ratio"] = df_new["ScanCount"].div(df_new.Total, axis = 0)

In [63]:
af.saveDataFrameToCsv(df_new, "df_new")

In [69]:
df_new_1 = df_new[df_new["Ratio"] != np.inf]

In [72]:
df_new_1 = df_new_1.dropna()

In [106]:
af.saveDataFrameToCsv(df_new, "df_new_has_all_the_ratio")

In [108]:
df_train_dd

,VisitNumber,TripType,Return,1-HR PHOTO,ACCESSORIES,AUTOMOTIVE,BAKERY,BATH AND SHOWER,BEAUTY,BEDDING,...,SWIMWEAR/OUTERWEAR,TOYS,WIRELESS,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday
0,5,999,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,7,30,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,8,26,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,9,8,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,10,8,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
5,11,35,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
6,12,41,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
7,15,21,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
8,17,6,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
9,19,42,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
10,20,7,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
11,23,9,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
12,25,8,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
13,26,39,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
14,28,25,0,0,0,0,2,0,0,0,...,0,0,0,0,0,0,0,1,0,0
15,29,8,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
16,30,9,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
17,31,8,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
18,32,8,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
19,33,8,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
20,40,8,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
21,41,8,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
22,42,8,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
23,43,38,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
24,45,8,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
25,47,35,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
26,49,15,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
27,50,9,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
28,51,8,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
29,53,8,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95644,191276,21,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
95645,191277,44,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
95646,191280,8,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
95647,191283,44,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
95648,191286,40,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
95649,191287,26,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
95650,191289,8,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
95651,191291,8,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
95652,191293,36,0,0,0,0,0,3,2,0,...,0,0,0,0,0,0,0,0,0,1
95653,191298,40,1,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
95654,191301,42,0,0,0,0,0,2,0,0,...,0,1,0,0,0,0,0,0,0,1
95655,191304,36,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
95656,191305,31,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
95657,191311,9,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
95658,191312,42,0,0,0,0,0,0,0,0,...,0,0,2,0,0,0,0,0,0,1
95659,191313,30,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
95660,191318,7,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
95661,191322,38,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
95662,191324,40,0,0,0,3,1,0,1,0,...,0,0,0,0,0,0,0,0,0,1
95663,191326,38,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
95664,191329,24,0,0,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,1
95665,191331,9,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
95666,191335,32,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
95667,191337,38,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
95668,191342,8,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
95669,191343,25,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
95670,191344,22,0,0,0,0,0,0,4,0,...,0,0,1,0,0,0,0,0,0,1
95671,191345,39,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
95672,191346,39,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
95673,191347,8,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [109]:
new_cols = ["MF_FinelineNumber", "ScanCount", "Total", "Ratio"]

In [114]:
df_train_dd_imporved = pd.concat([df_train_dd, df_new[new_cols]], axis = 1)

In [115]:
af.saveDataFrameToCsv(df_train_dd_imporved, "df_train_dd_imporved")

In [105]:
df_new[np.isnan(df_new.Ratio)]

       VisitNumber  TripType MF_FinelineNumber  ScanCount  Total  Ratio
69             133       999              1180          0      0    NaN
166            333       999              6812          0      0    NaN
298            581       999              2064          0      0    NaN
345            685       999              2996          0      0    NaN
390            781       999              8294          0      0    NaN
474            950       999               975          0      0    NaN
567           1120       999              1590          0      0    NaN
694           1368       999              3000          0      0    NaN
743           1460       999              8615          0      0    NaN
744           1466       999                21          0      0    NaN
796           1579       999               509          0      0    NaN
906           1783       999              5300          0      0    NaN
985           1943       999               145          0      0    NaN
997           1965       999              1231          0      0    NaN
1103          2159       999               275          0      0    NaN
1194          2321       999              1356          0      0    NaN
1256          2464       999               100          0      0    NaN
1379          2709       999              3467          0      0    NaN
1510          2963       999              2502          0      0    NaN
1595          3125       999              4822          0      0    NaN
1885          3647       999              1003          0      0    NaN
2113          4089       999              2012          0      0    NaN
2141          4163       999              4805          0      0    NaN
2173          4217       999                 2          0      0    NaN
2204          4284       999               438          0      0    NaN
2228          4333       999              4801          0      0    NaN
2439          4750       999              1180          0      0    NaN
2461          4797       999               988          0      0    NaN
2473          4828       999               808          0      0    NaN
2518          4920       999              2487          0      0    NaN
...            ...       ...               ...        ...    ...    ...
93577       187172       999              4009          0      0    NaN
93692       187392       999              8081          0      0    NaN
93705       187424       999              3006          0      0    NaN
93752       187513       999              6642          0      0    NaN
93813       187639       999              1350          0      0    NaN
93846       187708       999                 6          0      0    NaN
93873       187783       999              9002          0      0    NaN
93922       187879       999              9516          0      0    NaN
94083       188208       999               620          0      0    NaN
94201       188426       999              1508          0      0    NaN
94265       188556       999              1712          0      0    NaN
94289       188595       999              1001          0      0    NaN
94365       188744       999               509          0      0    NaN
94463       188943       999               110          0      0    NaN
94497       189025       999              8086          0      0    NaN
94517       189066       999              1508          0      0    NaN
94537       189105       999              1508          0      0    NaN
94589       189203       999              9840          0      0    NaN
94738       189518       999              8625          0      0    NaN
94741       189525       999              6420          0      0    NaN
94786       189614       999              2019          0      0    NaN
94792       189626       999              3550          0      0    NaN
94920       189859       999              6135          0      0    NaN
94947       189921       999              3606          0      0    NaN
95136       190284       999              6593          0      0    NaN
95143       190296       999              3555          0      0    NaN
95164       190357       999              2286          0      0    NaN
95183       190392       999              3602          0      0    NaN
95275       190571       999              4005          0      0    NaN
95447       190888       999              3004          0      0    NaN

[1318 rows x 6 columns]

In [80]:
df_tmp = df_new_1[df_new_1["Total"] > 0]

In [96]:
df_tmp[df_tmp["Ratio"] == 1]

       VisitNumber  TripType MF_FinelineNumber  ScanCount  Total  Ratio
15              29         8              9205          1      1    1.0
16              30         9              1180          1      1    1.0
18              32         8               100          1      1    1.0
22              42         8               115          1      1    1.0
27              50         9              8218          1      1    1.0
29              53         8              1201          1      1    1.0
30              54         8              2286          1      1    1.0
33              57         8              1026          1      1    1.0
36              68         9              8225          1      1    1.0
39              74         8              2286          2      2    1.0
42              81         9              8296          1      1    1.0
47              87         7              4063          1      1    1.0
48              91         8              2286          1      1    1.0
50              93         8              5501          1      1    1.0
51              95         8              1204          1      1    1.0
55             100        37              3102          1      1    1.0
56             102         8              1515          1      1    1.0
57             103         8              5501          1      1    1.0
60             107         8              9556          1      1    1.0
62             117         8              3405          1      1    1.0
65             124         8              1026          1      1    1.0
66             125         6              8430          1      1    1.0
68             132         9                 6          1      1    1.0
88             188         3              1000          1      1    1.0
89             189         9              6210          2      2    1.0
103            218         5              2303          1      1    1.0
104            219         9              1009          1      1    1.0
106            221         8              1401          1      1    1.0
107            223        32               228          2      2    1.0
111            229         8              1405          2      2    1.0
...            ...       ...               ...        ...    ...    ...
95437       190866         8               240          1      1    1.0
95448       190891         8              1851          1      1    1.0
95454       190904        32               812          2      2    1.0
95466       190926         8              3652          1      1    1.0
95467       190928         9              7205          1      1    1.0
95473       190940         8               203          1      1    1.0
95478       190953         8               707          1      1    1.0
95484       190964         9              4108          1      1    1.0
95493       190982         9              2523          2      2    1.0
95497       190989         9              9806          1      1    1.0
95507       191008         7              4053          6      6    1.0
95509       191013         8              3458          1      1    1.0
95517       191031        24              1153          1      1    1.0
95528       191054         9              4815          1      1    1.0
95547       191088         8              1006          1      1    1.0
95549       191090         8               165          1      1    1.0
95550       191091         9               735          1      1    1.0
95551       191093        32               723          4      4    1.0
95553       191097        32               723          1      1    1.0
95555       191102         8              5050          1      1    1.0
95557       191104         9              9636          1      1    1.0
95559       191109         9               834          1      1    1.0
95563       191114         9               165          1      1    1.0
95566       191118        24              3006          1      1    1.0
95569       191121         9              6602          1      1    1.0
95596       191179         6              8012          1      1    1.0
95626       191244        24              2113          1      1    1.0
95650       191289         8              3467          1      1    1.0
95656       191305        31               290          1      1    1.0
95665       191331         9              9189          1      1    1.0

[18878 rows x 6 columns]

In [95]:
df_tmp[df_tmp["Ratio"] == 1].groupby("TripType").size().reset_index(name ="count").sort_values("count", ascending=False)

    TripType  count
5          8   5560
6          9   4969
2          5   2225
4          7   1254
34       999    950
0          3    855
3          6    565
23        32    367
13        22    287
15        24    270
22        31    159
21        30    154
1          4    151
10        19    135
26        35    107
18        27     97
16        25     73
8         15     69
14        23     69
19        28     63
17        26     59
30        39     57
9         18     54
20        29     52
11        20     48
27        36     47
25        34     43
12        21     39
29        38     28
24        33     27
28        37     18
33        42     17
7         12      7
31        40      2
32        41      1

In [208]:
pd.concat([df_new, sc_total], axis=1)

       VisitNumber  TripType MF_FinelineNumber  ScanCount  Total
0                5       999              1000         -1      1
1                7        30              4504          1      3
2                8        26              1017          5     29
3                9         8               103          1      4
4               10         8               115          1      4
5               11        35               110          1      5
6               12        41               203          1      8
7               15        21               514          3     10
8               17         6              3352          1      5
9               19        42              8904          2     10
10              20         7              4010          2      4
11              23         9              3005          1      3
12              25         8               222          1      4
13              26        39              1450          6     13
14              28        25              2010          2      9
15              29         8              9205          1      2
16              30         9              1180          1      2
17              31         8              5024          1      3
18              32         8               100          1      2
19              33         8              3114          2      4
20              40         8               611          2      4
21              41         8              3114          2      4
22              42         8               115          1      2
23              43        38              1508          1      5
24              45         8              1908          1      5
25              47        35              3108          2      6
26              49        15               110          1      6
27              50         9              8218          1      2
28              51         8               109          1      3
29              53         8              1201          1      2
...            ...       ...               ...        ...    ...
95644       191276        21              6211          2      5
95645       191277        44              8960          3     22
95646       191280         8              2110          1      4
95647       191283        44                79          2     11
95648       191286        40              3954          3     28
95649       191287        26              1011          2      5
95650       191289         8              3467          1      2
95651       191291         8              1508          1      3
95652       191293        36              1084          3     25
95653       191298        40              1450          5     23
95654       191301        42              1010          2     10
95655       191304        36               145          1      7
95656       191305        31               290          1      2
95657       191311         9              1640          1      3
95658       191312        42              4606          6     23
95659       191313        30              2257          1      5
95660       191318         7              1901          2      8
95661       191322        38              2404          2     16
95662       191324        40               251          3     23
95663       191326        38              7301          2     12
95664       191329        24              1015          1     21
95665       191331         9              9189          1      2
95666       191335        32              1120          1     10
95667       191337        38               135          2     28
95668       191342         8               100          1      3
95669       191343        25              5701          3     10
95670       191344        22              3405          3      6
95671       191345        39              2764          2     18
95672       191346        39              4639          2     18
95673       191347         8              1512          1      3

[95674 rows x 5 columns]

In [195]:
df_mf_sc

      MF_FinelineNumber  ScanCount
0                  1000         -1
1                  4504          1
2                  1017          5
3                   103          1
4                   115          1
5                   110          1
6                   203          1
7                   514          3
8                  3352          1
9                  8904          2
10                 4010          2
11                 3005          1
12                  222          1
13                 1450          6
14                 2010          2
15                 9205          1
16                 1180          1
17                 5024          1
18                  100          1
19                 3114          2
20                  611          2
21                 3114          2
22                  115          1
23                 1508          1
24                 1908          1
25                 3108          2
26                  110          1
27                 8218          1
28                  109          1
29                 1201          1
...                 ...        ...
95644              6211          2
95645              8960          3
95646              2110          1
95647                79          2
95648              3954          3
95649              1011          2
95650              3467          1
95651              1508          1
95652              1084          3
95653              1450          5
95654              1010          2
95655               145          1
95656               290          1
95657              1640          1
95658              4606          6
95659              2257          1
95660              1901          2
95661              2404          2
95662               251          3
95663              7301          2
95664              1015          1
95665              9189          1
95666              1120          1
95667               135          2
95668               100          1
95669              5701          3
95670              3405          3
95671              2764          2
95672              4639          2
95673              1512          1

[95674 rows x 2 columns]

In [187]:
fn_copy = fn_li.copy()

In [188]:
len(set(fn_copy))

4251

In [166]:
len(fn_li)

94247

In [100]:
tmp.Upc = tmp.Upc.astype(str)

In [101]:
tmp.Upc = tmp.Upc.apply(lambda a : a.split(".")[0] if a != "nan" else "000000000000")

In [124]:
tmp[tmp["Upc_length"] < 7].groupby("DepartmentDescription").size().reset_index(name = "Count").sort_values("Count", ascending=False)

          DepartmentDescription  Count
36                      PRODUCE   2170
15            GROCERY DRY GOODS    245
11                  DSD GROCERY    216
10                        DAIRY    101
2                        BAKERY     85
13                 FROZEN FOODS     69
32            PETS AND SUPPLIES     64
31                PERSONAL CARE     57
20     HOUSEHOLD CHEMICALS/SUPP     34
22          IMPULSE MERCHANDISE     31
33                 PHARMACY OTC     23
24  INFANT CONSUMABLE HARDLINES     20
29                    MENS WEAR     20
37                 SERVICE DELI     19
3                        BEAUTY     14
28        MEAT - FRESH & FROZEN     10
7                   CELEBRATION     10
26              LAWN AND GARDEN      8
21        HOUSEHOLD PAPER GOODS      8
6       CANDY, TOBACCO, COOKIES      8
9                 COOK AND DINE      7
8                    COMM BREAD      7
18              HOME MANAGEMENT      6
1                    AUTOMOTIVE      5
25                   LADIESWEAR      5
30              OFFICE SUPPLIES      5
19      HORTICULTURE AND ACCESS      4
40               SPORTING GOODS      4
12           FABRICS AND CRAFTS      4
17                   HOME DECOR      4
27             LIQUOR,WINE,BEER      3
41                         TOYS      3
4                       BEDDING      3
38                        SHOES      2
42                     WIRELESS      2
34      PLAYERS AND ELECTRONICS      2
23               INFANT APPAREL      2
14   GIRLS WEAR, 4-6X  AND 7-14      2
35              PRE PACKED DELI      1
16                     HARDWARE      1
39        SLEEPWEAR/FOUNDATIONS      1
5                     BOYS WEAR      1
0                   ACCESSORIES      1

In [102]:
tmp["Upc_length"] = tmp.Upc.apply(lambda a : len(a))

In [103]:
tmp.groupby("Upc_length").size().reset_index()

   Upc_length      0
0           3      2
1           4   3211
2           5     74
3           8     83
4           9    365
5          10  56361
6          11  32517
7          12   3061

In [2]:
from sklearn.naive_bayes import MultinomialNB
def fitNaiveBayesModel(X, y):
    return MultinomialNB().fit(X, y)
model_xgb = xgboost.XGBClassifier(n_estimators=100, max_depth=2)

In [3]:
from sklearn.metrics import log_loss

In [4]:
df_train_dd = pd.read_csv("Feature_matrix/df_train_dd_201807291831.csv")
df_test_dd = pd.read_csv("Feature_matrix/df_test_dd_201807291855.csv")

In [5]:
df_train_fl = pd.read_csv("Feature_matrix/df_train_fl_201807291845.csv")
df_test_fl = pd.read_csv("Feature_matrix/df_test_fl_201807291908.csv")

In [6]:
nor_train_fl = pd.read_csv("Feature_matrix/Normalized_train_fl_201808020202.csv")

In [7]:
nor_train_dd = pd.read_csv("Feature_matrix/Normalized_train_dd_201808012338.csv")

In [8]:
df_fl_sc = df_train.groupby(["FinelineNumber"]).sum()["ScanCount"].reset_index().sort_values("ScanCount", ascending =False)
# bottom = 10
# top = 124
# df_fineline_50 = df_fl_sc[(df_fl_sc["ScanCount"]>=bottom)&(df_fl_sc["ScanCount"]<=top)]

In [9]:
df_fineline_0 = df_fl_sc[(df_fl_sc["ScanCount"]>=0)&(df_fl_sc["ScanCount"]<=10)]

In [10]:
df_fineline_75 = df_fl_sc[df_fl_sc["ScanCount"]>124]

In [84]:
cols_75 = list(df_fineline_75["FinelineNumber"].unique())

In [11]:
tmp_df_0 = pd.concat([df_fineline_0, df_fineline_75], axis = 0)

In [12]:
tmp_df_0["FinelineNumber"] = tmp_df_0["FinelineNumber"].astype(str)

In [58]:
cols = list(tmp_df_0["FinelineNumber"].unique())

In [14]:
def getGroupByDf(df):
    cols = [col for col in df.columns if col not in ["VisitNumber", "TripType"]]
    npsum = [np.sum for col in cols]
    agg_dict = dict(zip(cols, npsum))
    return df.groupby("TripType").agg(agg_dict).reset_index()

def getColsToFit(df, is_need_return = True):
    if is_need_return:
        return [col for col in df.columns if col not in ["VisitNumber", "TripType"]]
    return [col for col in df.columns if col not in ["VisitNumber", "TripType", "Return"]]

In [15]:
li_train_by_vn = []
for i in df_train_dd["TripType"].unique():
    tmp = df_train_dd[df_train_dd["TripType"] == i]
    li_train_by_vn.append(tmp)
    
length_train_by_triptype = []
triptype_li = []
for i in range(len(li_train_by_vn)):
    length_train_by_triptype.append(len(li_train_by_vn[i]))
    triptype_li.append(li_train_by_vn[i]["TripType"].unique()[0])

In [16]:
def getNormalizedDf(df, cols):
    result = df.copy()
    result = result[cols]
    for i in range(len(df)):
        triptype = df.loc[i]["TripType"]
        length = dict_len_by_tt[triptype]
        result.loc[i] = round(result.loc[i]/length, 2)
    return result

In [17]:
cols_fl = getColsToFit(df_train_fl, is_need_return = True)
cols_dd = getColsToFit(df_train_dd, is_need_return = True)

In [18]:
group_nor_fl = getGroupByDf(nor_train_fl)

In [19]:
group_nor_dd = getGroupByDf(nor_train_dd)

In [20]:
# df_dd_fl = df_train.groupby(["TripType", "DepartmentDescription", "FinelineNumber"]).sum()["ScanCount"].reset_index()

In [21]:
# li_by_tt = []
# for tt in df_dd_fl["TripType"].unique():
#     tmp = df_dd_fl[df_dd_fl["TripType"] == tt]
#     li_by_tt.append(tmp)

In [28]:
df_fineline_50["FinelineNumber"] = df_fineline_50["FinelineNumber"].astype(str)

In [29]:
tmp_cols = list(df_fineline_50["FinelineNumber"].unique())

In [32]:
len(df_train_fl[tmp_cols].columns)

2607

In [35]:
tmp_df_cols = df_train_fl[["VisitNumber", "Return", "TripType"]]

In [42]:
df_new = pd.concat([df_train_dd, df_train_fl[tmp_cols]], axis=1)

In [22]:
df_new_2 = pd.concat([df_train_dd, df_train_fl[cols]], axis = 1)

In [85]:
df_new_75 = pd.concat([df_train_dd, df_test_fl[cols_75]], axis = 1)

KeyError: '[5501. 1508.  808. ... 4473. 4159. 9189.] not in index'

In [61]:
df_test_new = pd.concat([df_test_dd, df_test_fl[cols]], axis = 1)

In [24]:
rm_cols = ["VisitNumber", "TripType"]

In [63]:
X_test_new = af.get_df_to_fit(df_test_new, True)

In [25]:
cols = [col for col in df_new_2.columns if col not in rm_cols]

In [27]:
X = df_new_2[cols]

In [28]:
y = df_train_dd["TripType"]

In [32]:
from scipy.sparse import csr_matrix

In [33]:
csr_train = csr_matrix(X)

In [34]:
csr_train

<95674x2717 sparse matrix of type '<class 'numpy.int64'>'
	with 877044 stored elements in Compressed Sparse Row format>

In [60]:
len(df_new_2.columns)

2719

In [37]:
df_fl_50 = pd.concat([tmp_df_cols, df_train_fl[tmp_cols]],axis=1)

In [38]:
X, y = af.get_df_to_fit(df_fl_50)

In [29]:
model_nb = fitNaiveBayesModel(X, y)

In [30]:
y_pred = model_nb.predict(X)

In [31]:
af.getAccuracy(y, y_pred, len(X))

##### Accuracy : 0.6104

In [43]:
X_new, y = af.get_df_to_fit(df_new)

In [44]:
model_nb_new = fitNaiveBayesModel(X_new, y)

In [45]:
y_pred_new = model_nb_new.predict(X_new)

In [46]:
af.getAccuracy(y, y_pred_new, len(X))

##### Accuracy : 0.6073

In [47]:
y_pred_proba = model_nb_new.predict_proba(X_new)

In [48]:
log_loss(y, y_pred_proba)

1.8114219488350272

In [61]:
X_new2, y = af.get_df_to_fit(df_new_2)

In [62]:
model_nb_new2 = fitNaiveBayesModel(X_new2, y)

In [64]:
y_pred_new2 = model_nb_new2.predict(X_new2)

In [65]:
af.getAccuracy(y, y_pred_new2, len(X))

##### Accuracy : 0.6104

In [42]:
model_xgb = xgboost.XGBClassifier(max_depth=3, learning_rate=0.5, n_estimators=100,\
                                  eval_metric="logloss",silent=True, objective='binary:logistic', booster='gbtree',\
                                  n_jobs=4, nthread=None, gamma=0, min_child_weight=1,\
                                  max_delta_step=0, subsample=1, colsample_bytree=1, \
                                  colsample_bylevel=1, reg_alpha=0, reg_lambda=1, scale_pos_weight=1,\
                                  base_score=0.5, random_state=0, seed=None, missing=None)

In [43]:
model_xgb.fit(csr_train, y)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=17, min_child_weight=1, missing=None, n_estimators=50,
       n_jobs=4, nthread=None, objective='multi:softprob', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [44]:
y_pred = model_xgb.predict(csr_train)

In [45]:
af.getAccuracy(y, y_pred, len(X))

##### Accuracy : 0.8856

In [46]:
y_pred_proba = model_xgb.predict_proba(csr_train)

In [ ]:
y_pred_proba

In [ ]:
y_pred_proba_test

In [70]:
X_test_new = X_test_new.drop("index", axis=1)

In [71]:
csr_test = csr_matrix(X_test_new)

In [72]:
csr_test

<95674x2717 sparse matrix of type '<class 'numpy.float64'>'
	with 882383 stored elements in Compressed Sparse Row format>

In [73]:
y_pred_proba_test = model_xgb.predict_proba(csr_test)

In [76]:
submit_new = af.make_submission_df(submission, y_pred_proba_test)

In [77]:
af.saveDataFrameToCsv(submit_new, "submit_new_df", is_submission_df=True)

In [47]:
log_loss(y, y_pred_proba)

0.49790989986149525

In [48]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=0)

from sklearn.preprocessing import LabelBinarizer
lb = LabelBinarizer()
Y_train = lb.fit_transform(y_train)
Y_test = lb.fit_transform(y_test)

# y_pred = lb.inverse_transform(np.round(predictions))
# y_true = lb.inverse_transform(train_y)

from keras.models import Sequential
from keras.layers.core import Dense
from keras.optimizers import Adagrad
from keras.utils import np_utils

Using TensorFlow backend.

In [94]:
model1 = Sequential()
model1.add(Dense(80, input_dim=2717, activation="sigmoid", kernel_initializer="glorot_uniform"))
model1.add(Dense(38, activation="softmax"))
model1.compile(optimizer=Adagrad(lr=1), loss='categorical_crossentropy', metrics=["accuracy"])

In [95]:
%%time
hist1 = model1.fit(X_train, Y_train, epochs=100, batch_size=1000, validation_data=(X_test, Y_test), verbose=2)

Train on 57404 samples, validate on 38270 samples
Epoch 1/100
 - 8s - loss: 3.3810 - acc: 0.4799 - val_loss: 1.2954 - val_acc: 0.6166
Epoch 2/100
 - 8s - loss: 1.0548 - acc: 0.6785 - val_loss: 1.1621 - val_acc: 0.6432
Epoch 3/100
 - 9s - loss: 0.8344 - acc: 0.7349 - val_loss: 1.0991 - val_acc: 0.6702
Epoch 4/100
 - 8s - loss: 0.7069 - acc: 0.7758 - val_loss: 1.0944 - val_acc: 0.6769
Epoch 5/100
 - 8s - loss: 0.6185 - acc: 0.8054 - val_loss: 1.1122 - val_acc: 0.6844
Epoch 6/100
 - 9s - loss: 0.5521 - acc: 0.8275 - val_loss: 1.1263 - val_acc: 0.6837
Epoch 7/100
 - 8s - loss: 0.4985 - acc: 0.8467 - val_loss: 1.1479 - val_acc: 0.6843
Epoch 8/100
 - 8s - loss: 0.4567 - acc: 0.8599 - val_loss: 1.1745 - val_acc: 0.6843
Epoch 9/100
 - 9s - loss: 0.4222 - acc: 0.8727 - val_loss: 1.2101 - val_acc: 0.6869
Epoch 10/100
 - 9s - loss: 0.3918 - acc: 0.8823 - val_loss: 1.2394 - val_acc: 0.6859
Epoch 11/100
 - 9s - loss: 0.3670 - acc: 0.8912 - val_loss: 1.2749 - val_acc: 0.6831
Epoch 12/100
 - 9s - loss: 0.3430 - acc: 0.8996 - val_loss: 1.3000 - val_acc: 0.6821
Epoch 13/100
 - 9s - loss: 0.3245 - acc: 0.9055 - val_loss: 1.3317 - val_acc: 0.6826
Epoch 14/100
 - 9s - loss: 0.3068 - acc: 0.9112 - val_loss: 1.3587 - val_acc: 0.6812
Epoch 15/100
 - 8s - loss: 0.2929 - acc: 0.9151 - val_loss: 1.3875 - val_acc: 0.6786
Epoch 16/100
 - 8s - loss: 0.2792 - acc: 0.9193 - val_loss: 1.4253 - val_acc: 0.6777
Epoch 17/100
 - 9s - loss: 0.2678 - acc: 0.9230 - val_loss: 1.4533 - val_acc: 0.6763
Epoch 18/100
 - 8s - loss: 0.2567 - acc: 0.9273 - val_loss: 1.4704 - val_acc: 0.6764
Epoch 19/100
 - 8s - loss: 0.2469 - acc: 0.9289 - val_loss: 1.4959 - val_acc: 0.6752
Epoch 20/100
 - 8s - loss: 0.2385 - acc: 0.9319 - val_loss: 1.5280 - val_acc: 0.6762
Epoch 21/100
 - 8s - loss: 0.2307 - acc: 0.9336 - val_loss: 1.5425 - val_acc: 0.6731
Epoch 22/100
 - 7s - loss: 0.2224 - acc: 0.9370 - val_loss: 1.5722 - val_acc: 0.6737
Epoch 23/100
 - 7s - loss: 0.2160 - acc: 0.9382 - val_loss: 1.5997 - val_acc: 0.6716
Epoch 24/100
 - 7s - loss: 0.2099 - acc: 0.9398 - val_loss: 1.6229 - val_acc: 0.6692
Epoch 25/100
 - 7s - loss: 0.2034 - acc: 0.9413 - val_loss: 1.6381 - val_acc: 0.6706
Epoch 26/100
 - 8s - loss: 0.1968 - acc: 0.9436 - val_loss: 1.6578 - val_acc: 0.6696
Epoch 27/100
 - 7s - loss: 0.1923 - acc: 0.9452 - val_loss: 1.6746 - val_acc: 0.6709
Epoch 28/100
 - 7s - loss: 0.1875 - acc: 0.9462 - val_loss: 1.6956 - val_acc: 0.6656
Epoch 29/100
 - 7s - loss: 0.1836 - acc: 0.9476 - val_loss: 1.7155 - val_acc: 0.6696
Epoch 30/100
 - 7s - loss: 0.1789 - acc: 0.9490 - val_loss: 1.7266 - val_acc: 0.6677
Epoch 31/100
 - 7s - loss: 0.1748 - acc: 0.9495 - val_loss: 1.7452 - val_acc: 0.6677
Epoch 32/100
 - 8s - loss: 0.1709 - acc: 0.9509 - val_loss: 1.7594 - val_acc: 0.6670
Epoch 33/100
 - 8s - loss: 0.1672 - acc: 0.9524 - val_loss: 1.7795 - val_acc: 0.6667
Epoch 34/100
 - 8s - loss: 0.1645 - acc: 0.9529 - val_loss: 1.7909 - val_acc: 0.6655
Epoch 35/100
 - 7s - loss: 0.1605 - acc: 0.9544 - val_loss: 1.8185 - val_acc: 0.6616
Epoch 36/100
 - 7s - loss: 0.1571 - acc: 0.9555 - val_loss: 1.8290 - val_acc: 0.6645
Epoch 37/100
 - 7s - loss: 0.1544 - acc: 0.9557 - val_loss: 1.8357 - val_acc: 0.6627
Epoch 38/100
 - 8s - loss: 0.1512 - acc: 0.9567 - val_loss: 1.8532 - val_acc: 0.6635
Epoch 39/100
 - 7s - loss: 0.1488 - acc: 0.9575 - val_loss: 1.8701 - val_acc: 0.6622
Epoch 40/100
 - 7s - loss: 0.1459 - acc: 0.9581 - val_loss: 1.8839 - val_acc: 0.6631
Epoch 41/100
 - 7s - loss: 0.1435 - acc: 0.9584 - val_loss: 1.9027 - val_acc: 0.6625
Epoch 42/100
 - 7s - loss: 0.1413 - acc: 0.9593 - val_loss: 1.9108 - val_acc: 0.6619
Epoch 43/100
 - 8s - loss: 0.1390 - acc: 0.9602 - val_loss: 1.9233 - val_acc: 0.6625
Epoch 44/100
 - 7s - loss: 0.1370 - acc: 0.9604 - val_loss: 1.9369 - val_acc: 0.6615
Epoch 45/100
 - 8s - loss: 0.1351 - acc: 0.9603 - val_loss: 1.9522 - val_acc: 0.6605
Epoch 46/100
 - 7s - loss: 0.1333 - acc: 0.9615 - val_loss: 1.9621 - val_acc: 0.6607
Epoch 47/100
 - 7s - loss: 0.1312 - acc: 0.9620 - val_loss: 1.9722 - val_acc: 0.6609
Epoch 48/100
 - 8s - loss: 0.1296 - acc: 0.9628 - val_loss: 1.9884 - val_acc: 0.6582
Epoch 49/100
 - 7s - loss: 0.1280 - acc: 0.9630 - val_loss: 1.9984 - val_acc: 0.6581
Epoch 50/100
 - 7s - loss: 0.1260 - acc: 0.9632 - val_loss: 2.0087 - val_acc: 0.6603
Epoch 51/100
 - 7s - loss: 0.1244 - acc: 0.9637 - val_loss: 2.0234 - val_acc: 0.6568
Epoch 52/100
 - 7s - loss: 0.1232 - acc: 0.9647 - val_loss: 2.0332 - val_acc: 0.6596
Epoch 53/100
 - 7s - loss: 0.1216 - acc: 0.9650 - val_loss: 2.0438 - val_acc: 0.6574
Epoch 54/100
 - 7s - loss: 0.1202 - acc: 0.9647 - val_loss: 2.0569 - val_acc: 0.6587
Epoch 55/100
 - 7s - loss: 0.1188 - acc: 0.9657 - val_loss: 2.0612 - val_acc: 0.6580
Epoch 56/100
 - 7s - loss: 0.1175 - acc: 0.9660 - val_loss: 2.0720 - val_acc: 0.6570
Epoch 57/100
 - 7s - loss: 0.1158 - acc: 0.9664 - val_loss: 2.0865 - val_acc: 0.6552
Epoch 58/100
 - 7s - loss: 0.1151 - acc: 0.9662 - val_loss: 2.0940 - val_acc: 0.6565
Epoch 59/100
 - 7s - loss: 0.1134 - acc: 0.9671 - val_loss: 2.1005 - val_acc: 0.6562
Epoch 60/100
 - 7s - loss: 0.1124 - acc: 0.9669 - val_loss: 2.1162 - val_acc: 0.6536
Epoch 61/100
 - 8s - loss: 0.1115 - acc: 0.9678 - val_loss: 2.1202 - val_acc: 0.6551
Epoch 62/100
 - 7s - loss: 0.1105 - acc: 0.9674 - val_loss: 2.1347 - val_acc: 0.6510
Epoch 63/100
 - 7s - loss: 0.1094 - acc: 0.9678 - val_loss: 2.1331 - val_acc: 0.6551
Epoch 64/100
 - 7s - loss: 0.1085 - acc: 0.9683 - val_loss: 2.1476 - val_acc: 0.6537
Epoch 65/100
 - 8s - loss: 0.1071 - acc: 0.9684 - val_loss: 2.1529 - val_acc: 0.6547
Epoch 66/100
 - 7s - loss: 0.1068 - acc: 0.9684 - val_loss: 2.1583 - val_acc: 0.6547
Epoch 67/100
 - 7s - loss: 0.1057 - acc: 0.9684 - val_loss: 2.1719 - val_acc: 0.6546
Epoch 68/100
 - 7s - loss: 0.1049 - acc: 0.9689 - val_loss: 2.1785 - val_acc: 0.6523
Epoch 69/100
 - 7s - loss: 0.1040 - acc: 0.9693 - val_loss: 2.1863 - val_acc: 0.6535
Epoch 70/100
 - 7s - loss: 0.1028 - acc: 0.9696 - val_loss: 2.1955 - val_acc: 0.6538
Epoch 71/100
 - 7s - loss: 0.1020 - acc: 0.9697 - val_loss: 2.2061 - val_acc: 0.6508
Epoch 72/100
 - 7s - loss: 0.1012 - acc: 0.9696 - val_loss: 2.2159 - val_acc: 0.6522
Epoch 73/100
 - 8s - loss: 0.1006 - acc: 0.9699 - val_loss: 2.2226 - val_acc: 0.6531
Epoch 74/100
 - 7s - loss: 0.1000 - acc: 0.9703 - val_loss: 2.2301 - val_acc: 0.6518
Epoch 75/100
 - 7s - loss: 0.0991 - acc: 0.9700 - val_loss: 2.2370 - val_acc: 0.6520
Epoch 76/100
 - 7s - loss: 0.0982 - acc: 0.9706 - val_loss: 2.2395 - val_acc: 0.6524
Epoch 77/100
 - 8s - loss: 0.0975 - acc: 0.9708 - val_loss: 2.2468 - val_acc: 0.6494
Epoch 78/100
 - 7s - loss: 0.0965 - acc: 0.9711 - val_loss: 2.2613 - val_acc: 0.6526
Epoch 79/100
 - 7s - loss: 0.0964 - acc: 0.9708 - val_loss: 2.2639 - val_acc: 0.6520
Epoch 80/100
 - 7s - loss: 0.0955 - acc: 0.9711 - val_loss: 2.2686 - val_acc: 0.6519
Epoch 81/100
 - 7s - loss: 0.0949 - acc: 0.9712 - val_loss: 2.2795 - val_acc: 0.6505
Epoch 82/100
 - 7s - loss: 0.0937 - acc: 0.9713 - val_loss: 2.2874 - val_acc: 0.6496
Epoch 83/100
 - 7s - loss: 0.0939 - acc: 0.9712 - val_loss: 2.2914 - val_acc: 0.6508
Epoch 84/100
 - 7s - loss: 0.0945 - acc: 0.9709 - val_loss: 2.2983 - val_acc: 0.6486
Epoch 85/100
 - 8s - loss: 0.0933 - acc: 0.9716 - val_loss: 2.3007 - val_acc: 0.6511
Epoch 86/100
 - 7s - loss: 0.0918 - acc: 0.9718 - val_loss: 2.3085 - val_acc: 0.6501
Epoch 87/100
 - 7s - loss: 0.0909 - acc: 0.9716 - val_loss: 2.3150 - val_acc: 0.6500
Epoch 88/100
 - 7s - loss: 0.0903 - acc: 0.9726 - val_loss: 2.3223 - val_acc: 0.6456
Epoch 89/100
 - 7s - loss: 0.0897 - acc: 0.9720 - val_loss: 2.3326 - val_acc: 0.6489
Epoch 90/100
 - 7s - loss: 0.0896 - acc: 0.9722 - val_loss: 2.3356 - val_acc: 0.6484
Epoch 91/100
 - 7s - loss: 0.0885 - acc: 0.9726 - val_loss: 2.3387 - val_acc: 0.6498
Epoch 92/100
 - 7s - loss: 0.0879 - acc: 0.9725 - val_loss: 2.3474 - val_acc: 0.6481
Epoch 93/100
 - 7s - loss: 0.0873 - acc: 0.9726 - val_loss: 2.3526 - val_acc: 0.6481
Epoch 94/100
 - 8s - loss: 0.0868 - acc: 0.9728 - val_loss: 2.3619 - val_acc: 0.6476
Epoch 95/100
 - 8s - loss: 0.0862 - acc: 0.9729 - val_loss: 2.3670 - val_acc: 0.6474
Epoch 96/100
 - 7s - loss: 0.0856 - acc: 0.9730 - val_loss: 2.3706 - val_acc: 0.6475

Epoch 97/100
 - 7s - loss: 0.0853 - acc: 0.9732 - val_loss: 2.3793 - val_acc: 0.6491
Epoch 98/100
 - 7s - loss: 0.0847 - acc: 0.9733 - val_loss: 2.3856 - val_acc: 0.6467
Epoch 99/100
 - 7s - loss: 0.0843 - acc: 0.9735 - val_loss: 2.3910 - val_acc: 0.6487
Epoch 100/100
 - 7s - loss: 0.0836 - acc: 0.9736 - val_loss: 2.4010 - val_acc: 0.6453
CPU times: user 17min 42s, sys: 1min 25s, total: 19min 8s
Wall time: 12min 40s