In [14]:
import numpy as np
import pandas as pd
import warnings
warnings.simplefilter('ignore')
from IPython.display import Markdown
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score , log_loss
from sklearn.ensemble import RandomForestClassifier
from new_Exploration.awesome_functions import *

### put the dataframe into feature_df

In [15]:
def logis(feature_df):
    train_X , train_y = get_df_to_fit(feature_df)
    logis_model = LogisticRegression().fit(train_X,train_y)
    log_score = log_loss(train_y,logis_model.predict_proba(train_X))
    acc_score = accuracy_score(train_y,logis_model.predict(train_X))
    return log_score , acc_score

In [25]:
def random(feature_df):
    train_X , train_y = get_df_to_fit(feature_df)
    random_model = RandomForestClassifier(max_depth=17,n_estimators=50).fit(train_X,train_y)
    log_score = log_loss(train_y,random_model.predict_proba(train_X))
    acc_score = accuracy_score(train_y,random_model.predict(train_X))
    return log_score , acc_score

In [17]:
train_df = pd.read_csv('new_Exploration/train.csv')
test_df = pd.read_csv('new_Exploration/test.csv')

In [18]:
train_df = make_df_we_wanted(train_df,train_df,test_df,is_need_null_column=False)

##### Dummy타입으로 만든 컬럼 명 : DepartmentDescription

##### ScanCount는 양수만 사용

##### Train df 만드는 중

##### Null 컬럼 없는 모델

> 위 정보들을 Display하는 이유는 이번 FeatureMatrix를 사용한 모델에 Fit할 Test 모델 만들 때 같은 전처리를 하기 위해서다.

In [19]:
train_df.tail()

,VisitNumber,TripType,Return,1-HR PHOTO,ACCESSORIES,AUTOMOTIVE,BAKERY,BATH AND SHOWER,BEAUTY,BEDDING,...,SWIMWEAR/OUTERWEAR,TOYS,WIRELESS,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday
95669,191343,25,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
95670,191344,22,0,0,0,0,0,0,4,0,...,0,0,1,0,0,0,0,0,0,1
95671,191345,39,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
95672,191346,39,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
95673,191347,8,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [20]:
log_score , acc_score = logis(train_df)

In [26]:
log_score , acc_score = random(train_df)

In [27]:
log_score , acc_score

(1.3210484696122229, 0.661736730982294)