In [1]:
import numpy as np
import pandas as pd

/home/hskimim/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/home/hskimim/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [2]:
train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')

In [3]:
testing_df = train_df['FinelineNumber'].value_counts().reset_index()
testing_df.index = testing_df['index']
testing_df.drop(columns='index',inplace=True)
testing_df['ratio'] = testing_df['FinelineNumber'] * 100 / len(train_df['FinelineNumber'])
testing_df

        FinelineNumber     ratio
index
5501.0            8244  1.274082
1508.0            5121  0.791433
135.0             4538  0.701333
808.0             4401  0.680160
0.0               3837  0.592995
9546.0            2997  0.463176
1407.0            2848  0.440149
4606.0            2753  0.425467
115.0             2723  0.420830
203.0             2639  0.407848
100.0             2634  0.407076
3004.0            2607  0.402903
4010.0            2531  0.391157
3601.0            2465  0.380957
3600.0            2455  0.379412
110.0             2237  0.345721
3120.0            2074  0.320530
3555.0            2056  0.317748
8101.0            2037  0.314811
5017.0            1980  0.306002
801.0             1946  0.300748
7010.0            1935  0.299048
5620.0            1896  0.293020
202.0             1895  0.292866
9100.0            1885  0.291320
4624.0            1834  0.283438
3467.0            1751  0.270611
7955.0            1749  0.270302
9101.0            1721  0.265975
3702.0            1655  0.255775
...                ...       ...
6213.0               1  0.000155
2289.0               1  0.000155
5380.0               1  0.000155
8539.0               1  0.000155
7231.0               1  0.000155
4314.0               1  0.000155
5578.0               1  0.000155
8554.0               1  0.000155
1152.0               1  0.000155
7773.0               1  0.000155
8565.0               1  0.000155
6177.0               1  0.000155
1765.0               1  0.000155
5564.0               1  0.000155
238.0                1  0.000155
5217.0               1  0.000155
5218.0               1  0.000155
3496.0               1  0.000155
1791.0               1  0.000155
3492.0               1  0.000155
7159.0               1  0.000155
5518.0               1  0.000155
2861.0               1  0.000155
6227.0               1  0.000155
4495.0               1  0.000155
2311.0               1  0.000155
524.0                1  0.000155
7130.0               1  0.000155
2847.0               1  0.000155
7313.0               1  0.000155

[5195 rows x 2 columns]

In [4]:
%%time
ls = []
for i in testing_df.index:
    if len(train_df[['DepartmentDescription','FinelineNumber']][train_df['FinelineNumber'] == i]) == 1:
        ls.append(i)
len(ls)

CPU times: user 25.7 s, sys: 0 ns, total: 25.7 s
Wall time: 25.7 s

In [5]:
print('length of FinelineNumber which points only on DepartmentDescription: ',len(ls),end='\n\n\n'),print(ls)

length of FinelineNumber which points only on DepartmentDescription:  241


[5358.0, 2086.0, 4845.0, 1808.0, 6598.0, 8346.0, 5353.0, 6629.0, 8345.0, 2039.0, 9937.0, 4135.0, 9943.0, 4685.0, 4597.0, 1722.0, 6453.0, 3358.0, 3311.0, 6525.0, 6561.0, 392.0, 7320.0, 8088.0, 6909.0, 6514.0, 6615.0, 6618.0, 5437.0, 1746.0, 2249.0, 2388.0, 9932.0, 4049.0, 3408.0, 3367.0, 1739.0, 3365.0, 8185.0, 4574.0, 9924.0, 6304.0, 7236.0, 6623.0, 2714.0, 2713.0, 6913.0, 8352.0, 8113.0, 259.0, 4751.0, 2649.0, 2648.0, 8257.0, 5387.0, 7216.0, 6744.0, 6813.0, 6793.0, 8259.0, 5383.0, 3795.0, 1336.0, 3338.0, 9792.0, 1691.0, 2621.0, 4761.0, 8087.0, 3430.0, 4764.0, 3794.0, 8073.0, 6482.0, 4090.0, 7160.0, 6513.0, 634.0, 1334.0, 6668.0, 6458.0, 4616.0, 6559.0, 2418.0, 5216.0, 6674.0, 3385.0, 6685.0, 2661.0, 4674.0, 3423.0, 2475.0, 9718.0, 3801.0, 9991.0, 3421.0, 45.0, 2328.0, 3673.0, 1235.0, 5668.0, 8992.0, 2266.0, 4341.0, 6140.0, 3648.0, 5710.0, 3916.0, 1140.0, 384.0, 196.0, 3616.0, 1452.0, 6108.0, 1877.0, 830.0, 5171.0, 2884.0, 3517.0, 485.0, 1789.0, 6161.0, 5172.0, 8605.0, 6153.0, 4816.0, 567.0, 1643.0, 7731.0, 5645.0, 7721.0, 5036.0, 7716.0, 3611.0, 8036.0, 2738.0, 2214.0, 5925.0, 8930.0, 9040.0, 7460.0, 3256.0, 3999.0, 727.0, 5819.0, 3047.0, 332.0, 7514.0, 8903.0, 7522.0, 5867.0, 8938.0, 4367.0, 1658.0, 5999.0, 5739.0, 9964.0, 5052.0, 8733.0, 8999.0, 4356.0, 3599.0, 7621.0, 7418.0, 2656.0, 373.0, 3112.0, 3580.0, 7625.0, 1941.0, 7243.0, 537.0, 7102.0, 1872.0, 7078.0, 4539.0, 1627.0, 7879.0, 6319.0, 2128.0, 2358.0, 6232.0, 5505.0, 4526.0, 6752.0, 6256.0, 7112.0, 6345.0, 1160.0, 4459.0, 1484.0, 2739.0, 8409.0, 6397.0, 9527.0, 419.0, 7026.0, 5455.0, 7049.0, 7029.0, 6382.0, 6228.0, 6351.0, 7046.0, 7048.0, 329.0, 6247.0, 7838.0, 593.0, 7227.0, 5372.0, 6213.0, 2289.0, 5380.0, 8539.0, 7231.0, 4314.0, 5578.0, 8554.0, 1152.0, 7773.0, 8565.0, 6177.0, 1765.0, 5564.0, 238.0, 5217.0, 5218.0, 3496.0, 1791.0, 3492.0, 7159.0, 5518.0, 2861.0, 6227.0, 4495.0, 2311.0, 524.0, 7130.0, 2847.0, 7313.0]

(None, None)

ls 리스트에 담겨져 있는 FinelineNumber 는 단 하나의 DepartmentDescription을 가리키는 고유한 즉, 말 그래도 FinelineNumber이다.

In [6]:
fl_dummies = pd.get_dummies(train_df['FinelineNumber'])

In [7]:
fl_dummies = fl_dummies[ls]

In [8]:
for i in range(len(ls)):
    if np.sum(fl_dummies.iloc[:,i]) !=1:
        print('emergency')

In [9]:
train_df = pd.concat([train_df,fl_dummies],axis=1)

In [10]:
from awesome_functions import *
train_df = make_df_we_wanted(train_df,train_df,test_df,is_use_positive_scancount_only=True,is_need_null_column=True)

/home/hskimim/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/home/hskimim/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/home/hskimim/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/home/hskimim/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

##### Dummy타입으로 만든 컬럼 명 : DepartmentDescription

##### ScanCount는 양수만 사용

##### Train df 만드는 중

##### Null 컬럼을 만듬

> 위 정보들을 Display하는 이유는 이번 FeatureMatrix를 사용한 모델에 Fit할 Test 모델 만들 때 같은 전처리를 하기 위해서다.

In [11]:
train_df.tail()

,VisitNumber,TripType,5358.0,2086.0,4845.0,1808.0,6598.0,8346.0,5353.0,6629.0,...,SWIMWEAR/OUTERWEAR,TOYS,WIRELESS,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday
95669,191343,25,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
95670,191344,22,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
95671,191345,39,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
95672,191346,39,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
95673,191347,8,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [12]:
train_df.shape

(95674, 320)

In [13]:
train_X = train_df.copy()
train_X.index = train_X['VisitNumber']
train_X.drop(columns=['TripType','VisitNumber'],inplace=True)

In [14]:
train_y = train_df['TripType']

In [15]:
train_X.shape , train_y.shape

((95674, 318), (95674,))

In [16]:
train_X.tail()

,5358.0,2086.0,4845.0,1808.0,6598.0,8346.0,5353.0,6629.0,8345.0,2039.0,...,SWIMWEAR/OUTERWEAR,TOYS,WIRELESS,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday
VisitNumber,,,,,,,,,,,,,,,,,,,,,
191343,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
191344,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
191345,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
191346,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
191347,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [17]:
train_y.tail()

95669    25
95670    22
95671    39
95672    39
95673     8
Name: TripType, dtype: int64

## LogisticRegression

In [18]:
from sklearn.linear_model import LogisticRegression

/home/hskimim/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [19]:
%time logis_model = LogisticRegression().fit(train_X , train_y)

CPU times: user 1min 3s, sys: 147 ms, total: 1min 3s
Wall time: 1min 3s

In [20]:
from sklearn.metrics import *

In [21]:
accuracy_score(train_y,logis_model.predict(train_X))

0.6490164517005665

In [22]:
from sklearn.model_selection import KFold , cross_val_score

In [32]:
%%time
kfold = KFold(10)
cv1 = cross_val_score(logis_model , train_X , train_y,cv=kfold , n_jobs=-1)

CPU times: user 5.7 s, sys: 364 ms, total: 6.07 s
Wall time: 4min 36s

In [34]:
np.mean(cv1)

0.6435499793657337

## Multi-nomial Naive Bayes

In [27]:
from sklearn.naive_bayes import MultinomialNB

In [28]:
multiNB_model = MultinomialNB().fit(train_X, train_y)

In [29]:
accuracy_score(train_y,multiNB_model.predict(train_X))

0.5841085352342329

In [30]:
%%time
kfold = KFold(10)
cv2 = cross_val_score(multiNB_model,train_X,train_y,cv=kfold,n_jobs=-1)

CPU times: user 3.94 s, sys: 268 ms, total: 4.2 s
Wall time: 5.33 s

In [31]:
np.mean(cv2)

0.5808997811771442

In [2]:
0.5804607312331459
0.5765525608779961

0.5765525608779961