In [2]:
import numpy as np
import pandas as pd
import matplotlib.pylab as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
from sklearn.model_selection import train_test_split , cross_val_score , KFold
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis , QuadraticDiscriminantAnalysis
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier ,BaggingClassifier , VotingClassifier , AdaBoostClassifier , GradientBoostingClassifier , ExtraTreesClassifier
from sklearn.svm import SVC
from sklearn.metrics import classification_report, confusion_matrix , accuracy_score
from sklearn.model_selection import KFold, cross_val_score , GridSearchCV

In [17]:
train_df = pd.read_csv('train_new_2v.csv')
train_df.tail()

,VisitNumber,TripType,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday,Return_bin,...,SEAFOOD,SEASONAL,SERVICE DELI,SHEER HOSIERY,SHOES,SLEEPWEAR/FOUNDATIONS,SPORTING GOODS,SWIMWEAR/OUTERWEAR,TOYS,WIRELESS
95669,191343,25,0,0,0,0,0,0,1,0.0,...,0,0,0,0,0,0,0,0,0,0
95670,191344,22,0,0,0,0,0,0,1,0.0,...,0,0,0,0,0,0,0,0,0,1
95671,191345,39,0,0,0,0,0,0,1,0.0,...,0,0,0,0,0,0,0,0,0,0
95672,191346,39,0,0,0,0,0,0,1,0.0,...,0,0,0,0,0,0,0,0,0,0
95673,191347,8,0,0,0,0,0,0,1,0.0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
train_df.index = train_df['VisitNumber']
train_df.drop(columns='VisitNumber',inplace=True)
train_df.tail()

,TripType,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday,Return_bin,1-HR PHOTO,...,SEAFOOD,SEASONAL,SERVICE DELI,SHEER HOSIERY,SHOES,SLEEPWEAR/FOUNDATIONS,SPORTING GOODS,SWIMWEAR/OUTERWEAR,TOYS,WIRELESS
VisitNumber,,,,,,,,,,,,,,,,,,,,,
191343,25,0,0,0,0,0,0,1,0.0,0,...,0,0,0,0,0,0,0,0,0,0
191344,22,0,0,0,0,0,0,1,0.0,0,...,0,0,0,0,0,0,0,0,0,1
191345,39,0,0,0,0,0,0,1,0.0,0,...,0,0,0,0,0,0,0,0,0,0
191346,39,0,0,0,0,0,0,1,0.0,0,...,0,0,0,0,0,0,0,0,0,0
191347,8,0,0,0,0,0,0,1,0.0,0,...,0,0,0,0,0,0,0,0,0,0

In [19]:
train_df.shape

(95674, 77)

In [20]:
train_X = train_df.iloc[:,1:]
train_y = train_df.iloc[:,0]

In [21]:
train_X.shape,train_y.shape

((95674, 76), (95674,))

## Modeling
### Which model we gonna apply on this DataFrame?
#### Model for Classification
- Logistic Regression
- Quadratic Discriminative Analysis
- Linear Discriminative anaylsis
- Naive Bayes
- Decision Tree
- Ensemble
    - Random Forest
    - VotingClassifier
    - BaggingClassifier
    - AdaBoostClassifer
    - GradientClassifier
    - Xgboost
    - Perceptron
    - SGDClassifer
    - SVC

### Logistic Regression

In [7]:
%%time
logis_model = LogisticRegression().fit(train_X,train_y)

CPU times: user 1min 1s, sys: 38 ms, total: 1min 1s
Wall time: 1min

In [66]:
logis_ac_sc = accuracy_score(train_y,logis_model.predict(train_X))

In [9]:
from sklearn.externals import joblib
filename = 'logistic_model.pkl'
joblib.dump(logis_model,filename)

['logistic_model.pkl']

In [10]:
print(classification_report(train_y,logis_model.predict(train_X)))

             precision    recall  f1-score   support

          3       0.76      0.94      0.84      3643
          4       0.00      0.00      0.00       346
          5       0.74      0.67      0.71      4593
          6       0.66      0.49      0.56      1277
          7       0.65      0.66      0.65      5752
          8       0.59      0.90      0.71     12161
          9       0.64      0.77      0.70      9464
         12       0.38      0.02      0.04       269
         14       0.00      0.00      0.00         4
         15       0.58      0.31      0.41       978
         18       0.51      0.35      0.41       549
         19       0.51      0.17      0.25       375
         20       0.60      0.58      0.59       637
         21       0.63      0.51      0.56       641
         22       0.45      0.29      0.35       928
         23       0.14      0.02      0.04       139
         24       0.61      0.57      0.59      2609
         25       0.70      0.77      0.73      3698
         26       0.54      0.36      0.43       503
         27       0.66      0.62      0.64       785
         28       0.54      0.34      0.42       492
         29       0.22      0.00      0.01       433
         30       0.47      0.29      0.36      1081
         31       0.71      0.65      0.68       594
         32       0.72      0.63      0.67      1984
         33       0.63      0.48      0.54      1315
         34       0.60      0.30      0.40       719
         35       0.58      0.42      0.49      2030
         36       0.63      0.59      0.61      3005
         37       0.61      0.55      0.58      2788
         38       0.54      0.31      0.40      2912
         39       0.48      0.58      0.52      9896
         40       0.76      0.81      0.79      6130
         41       0.29      0.00      0.01       583
         42       0.53      0.13      0.21      1858
         43       0.00      0.00      0.00       872
         44       0.61      0.03      0.06      1187
        999       0.83      0.76      0.79      8444

avg / total       0.63      0.64      0.62     95674

In [11]:
%%time
kfold = KFold(10)
logis_cv_score = cross_val_score(logis_model,train_X,train_y,cv=kfold)
logis_cv_score

CPU times: user 8min 15s, sys: 588 ms, total: 8min 16s
Wall time: 8min 10s

In [71]:
logis_cv_sc = np.mean(logis_cv_score)

### QDA

In [13]:
%%time
qda_model = QuadraticDiscriminantAnalysis().fit(train_X,train_y)

CPU times: user 1.41 s, sys: 68 ms, total: 1.48 s
Wall time: 369 ms

In [67]:
qda_ac_sc = accuracy_score(train_y,qda_model.predict(train_X))

In [15]:
from sklearn.externals import joblib
filename = 'qda_model.pkl'
joblib.dump(qda_model,filename)

['qda_model.pkl']

In [16]:
print(classification_report(train_y,qda_model.predict(train_X)))

             precision    recall  f1-score   support

          3       0.99      0.03      0.06      3643
          4       0.00      0.41      0.01       346
          5       0.91      0.04      0.08      4593
          6       0.22      0.49      0.30      1277
          7       0.65      0.00      0.01      5752
          8       0.00      0.00      0.00     12161
          9       0.00      0.00      0.00      9464
         12       0.02      0.58      0.03       269
         14       1.00      0.25      0.40         4
         15       0.28      0.06      0.09       978
         18       0.03      0.19      0.05       549
         19       0.06      0.06      0.06       375
         20       0.53      0.32      0.40       637
         21       0.08      0.44      0.14       641
         22       0.21      0.15      0.17       928
         23       0.01      0.99      0.01       139
         24       0.53      0.11      0.19      2609
         25       0.69      0.13      0.21      3698
         26       0.10      0.48      0.17       503
         27       0.50      0.32      0.39       785
         28       0.07      0.29      0.11       492
         29       0.03      0.02      0.02       433
         30       0.11      0.16      0.13      1081
         31       0.28      0.28      0.28       594
         32       0.57      0.07      0.13      1984
         33       0.54      0.03      0.06      1315
         34       0.35      0.08      0.13       719
         35       0.04      0.03      0.03      2030
         36       0.74      0.02      0.05      3005
         37       0.17      0.09      0.12      2788
         38       0.21      0.01      0.01      2912
         39       0.13      0.00      0.00      9896
         40       0.77      0.13      0.22      6130
         41       0.41      0.02      0.04       583
         42       0.47      0.06      0.11      1858
         43       0.06      0.00      0.01       872
         44       0.35      0.08      0.13      1187
        999       0.33      0.00      0.00      8444

avg / total       0.35      0.06      0.07     95674

In [17]:
%%time
kfold = KFold(10)
qda_cv_score = cross_val_score(qda_model,train_X,train_y,cv=kfold)
qda_cv_score

CPU times: user 20.2 s, sys: 576 ms, total: 20.8 s
Wall time: 5.2 s

In [72]:
qda_cv_sc = np.mean(qda_cv_score)

## LDA

In [19]:
%%time
lda_model = LinearDiscriminantAnalysis().fit(train_X,train_y)

CPU times: user 2.43 s, sys: 180 ms, total: 2.61 s
Wall time: 700 ms

In [20]:
from sklearn.externals import joblib
filename = 'lda_model.pkl'
joblib.dump(lda_model,filename)

['lda_model.pkl']

In [21]:
print(classification_report(train_y,lda_model.predict(train_X)))

             precision    recall  f1-score   support

          3       0.71      0.94      0.81      3643
          4       0.05      0.17      0.08       346
          5       0.94      0.40      0.56      4593
          6       0.44      0.55      0.49      1277
          7       0.61      0.44      0.51      5752
          8       0.38      0.93      0.54     12161
          9       0.53      0.24      0.33      9464
         12       0.13      0.37      0.19       269
         14       0.01      0.25      0.03         4
         15       0.43      0.41      0.42       978
         18       0.29      0.55      0.38       549
         19       0.19      0.93      0.31       375
         20       0.41      0.77      0.53       637
         21       0.39      0.59      0.47       641
         22       0.42      0.33      0.37       928
         23       0.23      0.67      0.34       139
         24       0.63      0.46      0.53      2609
         25       0.72      0.62      0.66      3698
         26       0.28      0.60      0.38       503
         27       0.56      0.56      0.56       785
         28       0.32      0.54      0.40       492
         29       0.15      0.03      0.06       433
         30       0.32      0.39      0.35      1081
         31       0.53      0.95      0.68       594
         32       0.71      0.55      0.62      1984
         33       0.41      0.54      0.47      1315
         34       0.43      0.44      0.44       719
         35       0.43      0.41      0.42      2030
         36       0.56      0.49      0.52      3005
         37       0.55      0.53      0.54      2788
         38       0.43      0.33      0.37      2912
         39       0.59      0.26      0.36      9896
         40       0.90      0.43      0.59      6130
         41       0.16      0.03      0.06       583
         42       0.51      0.02      0.04      1858
         43       0.00      0.00      0.00       872
         44       0.45      0.04      0.07      1187
        999       0.74      0.76      0.75      8444

avg / total       0.57      0.51      0.49     95674

In [68]:
lda_ac_sc = accuracy_score(train_y,lda_model.predict(train_X))

In [23]:
%%time
kfold = KFold(10)
lda_cv_score = cross_val_score(lda_model,train_X,train_y,cv=kfold)
lda_cv_score

CPU times: user 22.9 s, sys: 1.78 s, total: 24.7 s
Wall time: 6.47 s

In [73]:
lda_cv_sc = np.mean(lda_cv_score)

## Naive Gaussian

In [25]:
GausNB_model = GaussianNB().fit(train_X,train_y)

In [26]:
from sklearn.externals import joblib
filename = 'GausNB_model.pkl'
joblib.dump(GausNB_model,filename)

['GausNB_model.pkl']

In [27]:
print(classification_report(train_y,GausNB_model.predict(train_X)))

             precision    recall  f1-score   support

          3       0.99      0.03      0.06      3643
          4       0.01      0.32      0.01       346
          5       0.89      0.13      0.23      4593
          6       0.23      0.49      0.32      1277
          7       0.51      0.07      0.12      5752
          8       0.17      0.00      0.01     12161
          9       0.11      0.00      0.00      9464
         12       0.01      0.61      0.03       269
         14       0.00      1.00      0.00         4
         15       0.16      0.06      0.08       978
         18       0.05      0.15      0.07       549
         19       0.05      0.09      0.06       375
         20       0.30      0.72      0.42       637
         21       0.06      0.54      0.11       641
         22       0.27      0.18      0.21       928
         23       0.00      0.93      0.01       139
         24       0.51      0.17      0.26      2609
         25       0.66      0.22      0.33      3698
         26       0.15      0.59      0.24       503
         27       0.52      0.44      0.48       785
         28       0.09      0.25      0.13       492
         29       0.06      0.05      0.05       433
         30       0.16      0.31      0.21      1081
         31       0.12      0.21      0.15       594
         32       0.64      0.23      0.34      1984
         33       0.55      0.10      0.17      1315
         34       0.33      0.15      0.21       719
         35       0.10      0.05      0.07      2030
         36       0.59      0.04      0.08      3005
         37       0.23      0.14      0.18      2788
         38       0.23      0.04      0.07      2912
         39       0.21      0.00      0.01      9896
         40       0.78      0.24      0.37      6130
         41       0.24      0.05      0.09       583
         42       0.45      0.09      0.15      1858
         43       0.06      0.01      0.02       872
         44       0.26      0.23      0.25      1187
        999       0.75      0.00      0.00      8444

avg / total       0.41      0.10      0.12     95674

In [69]:
gnb_ac_sc = accuracy_score(train_y,GausNB_model.predict(train_X))

In [29]:
%%time
kfold = KFold(10)
gnb_cv_score = cross_val_score(GausNB_model,train_X,train_y,cv=kfold)
gnb_cv_score

CPU times: user 12.4 s, sys: 604 ms, total: 13 s
Wall time: 3.26 s

In [75]:
gnb_cv_sc = np.mean(gnb_cv_score)

In [76]:
score_ls = [logis_ac_sc,qda_ac_sc,lda_ac_sc,gnb_ac_sc]
cross_ls = [logis_cv_sc,qda_cv_sc,lda_cv_sc,gnb_cv_sc]

In [94]:
score_df = pd.DataFrame()
score_df['accuracy'] = score_ls
score_df['cross_val'] = cross_ls
score_df.index = ['lr','qda','lda','gnb']
score_df.sort_values(by='cross_val',ascending=False)

     accuracy  cross_val
lr   0.639589   0.635554
lda  0.508916   0.507766
gnb  0.096839   0.094320
qda  0.058386   0.051184

#### Linear Regression's performance is relatively highest among the models. Next is Linear discriminant analysis